[2015-10-16 08:31] stepan-p opened #957 "Exception is thrown when archiving is enabled"
I have the following NLog.config:
[code]

and this simple program:
[code]

It crashes with:
[code]

Output from internal logging:
[code]

Disabling archiving or setting `targets async="true"` fixes the problem. NLog version is 4.1.2, there was no such issue in NLog 3.1.

I'm using .NET Framework 4.5.

[2015-10-16 11:07] 304NotModified commented on #956
Well #500 is ObjectGraphScanner, and this `GetTargetsByLevelForLogger`. So I think is a another issue.

We will check this.

[2015-10-16 11:09] 304NotModified commented on #955
Which NLog version are you using?

I think we removed System.Drawing in NLog.dll in one of the latest versions (there is PR for. have to find it)

[2015-10-16 11:29] 304NotModified commented on #886
We can only remove things in 5.0,  according to semver.

[2015-10-16 11:30] 304NotModified commented on #932
I will double check the docs and code this weekend for this.

[2015-10-16 11:33] 304NotModified commented on #957
Thanks! Is it possible to create an unit test of this case and PR it? That would boost the fix.

[2015-10-16 14:39] ie-zero commented on #655
I also spotted that the class version appears as below
```Assembly: NLog (in NLog.dll) Version: 0.0.0.0```

[2015-10-16 15:14] DanubeRS commented on #955
`4.1.0.0` as a part of `Common.Logging.NLog41` dependency.

[2015-10-16 15:40] 304NotModified commented on #955
But do you use the NLog.Windows.Forms extension or other extensions?

[2015-10-16 15:43] DanubeRS commented on #955
Negative, just the core library.

[2015-10-16 15:48] 304NotModified commented on #955
OK clear. Do you know which .Net version xamarin chooses? You used the nuget package?

[2015-10-16 15:50] 304NotModified commented on #655
Yes,  good notoced

That's because in history we used a msbuild project to call shfb.

I haven't much experience with msbuild projects, but maybe we should fix it.

[2015-10-16 15:55] 304NotModified commented on #955
I see indeed that system.drawing is still referenced. https://github.com/NLog/NLog/pull/754

I will check this weekend why, and fix it if possible.

If I can't be fixed,  we need to have a separate xamarin build. Can you help me with that? (nuspec and testing), as I never used xamarin.

[2015-10-16 16:18] DanubeRS commented on #955
Xam.Mac uses a broad subset of the 4.5 framework (based on mono), rendering most standard packages usable. The only iffy things I have seen are with some reflection components, and the `System.Drawing` dll.

As far as I can tell, this may be a relic of the `System.Windows.Forms` assembly, as I believe they are tightly related.

Pulled latest and performed a reference check with the 4.5 project, an

[2015-10-16 16:21] ie-zero commented on #655
I have not got much experience msbuild projects but it would be useful to learn.

I would like to see your build if you do not mind in case I can help.

[2015-10-16 16:36] migig opened #960 "Logger in static class leads to initialization exception"
Stick this into LINQPad as a test case:

    public static class Foo {

      private static readonly NLog.Logger Logger = NLog.LogManager.GetLogger(typeof(Foo).FullName, typeof(Foo));

      static Foo() { }

      public static void dummyToInvokeInitializers() {}

    }

    void Main() {
      Foo.dummyToInvokeInitializers();
    }

This is the sort of setup you typically use with NLog, except

[2015-10-16 16:56] 304NotModified commented on #960
Well `NLog.LogManager.GetLogger(typeof(Foo).FullName` should work?

[2015-10-16 16:57] 304NotModified commented on #955
I also checked, it seems not be used indeed.

If you fix a PR, then I will release 4.1.3 soon :)

[2015-10-16 16:58] 304NotModified commented on #655
:)

I will give you more info this weekend.

[2015-10-16 17:02] 304NotModified commented on #955
OR maybe 4.2. Doubting...only small things added, but according to semver it should be 4.2 and not 4.1.3

[2015-10-16 17:04] migig commented on #960
@304NotModified  Yes for some reason omitting the type will get it to work. But we use a fancy subclass which I'm worried will try use that missing type later on. So I can't go down that route :sob:

[2015-10-16 17:05] migig commented on #960
@304NotModified Do you know why this happens? If I have a basic idea of what's happening and where to look I can try fix it myself and submit a PR.

[2015-10-16 18:42] 304NotModified commented on #960
When I check the code, I see:

[code]

I think `Foo` doesn't inherit  from `Logger` ;)

NLog tries to create an instance of `loggerType`, but I cannot handle `static` classes, and with a good reason ;)

[2015-10-16 18:48] migig commented on #960
Weird, I thought I could use any type. Been doing it that way for AGES. Now it blows up because of the static class which can't be instantiated. HAHAHA you learn something new every day. :smile:

Why does it even need that `loggerType`. It doesn't even use it?

[2015-10-16 18:51] 304NotModified commented on #960
I does use it, it creates a new LoggerType, so if you have:

[code]

Then you can create an instance of `Logger2` with `LogManager` / `LogFactory`

[2015-10-16 18:54] migig commented on #960
@304NotModified Ah okay, I never create logger that way, so I'm not worried then. So your idea to use the other overload

    NLog.LogManager.GetLogger(typeof(Foo).FullName)

...works.

So actually this is by design, it's not a bug! :smiley:

[2015-10-16 18:54] #960 closed

[2015-10-16 19:08] 304NotModified commented on #263
I checked this case, as I was working on a related thing. And this has nothing to do a sub class.

The loggerType is the type we're returning. E.g.

[code]

returns a `Logger2`. And therefor, it should inherited from Logger, and it's clear that it will not work in the contructor of `Logger2`.

So we have to update the wiki, but also create a better exception. Will create a new ticket for that.

[2015-10-16 19:11] 304NotModified commented on #960
NP! :beer:

[2015-10-16 19:11] 304NotModified commented on #960
We will improve the docs and error message, as I was also not clear to me in the first place ;)

[2015-10-16 19:18] 304NotModified opened #961 "Type parameter of GetLogger/GetCurrentClassLogger isn't clear"
We can create a Logger of a specified type in `LogManager`, `LogFactory` and `LogFactory<TLogger>`

With these methods:

[code]

It's unclear to people what `loggerType` does, as seen in #960 and https://github.com/NLog/NLog/issues/263.

What it does:

[code]

It can be useful when custom Loggers are created.

What we need to improve:
- [x] The error message
- [x] the xml doc
- [x] The documentati

[2015-10-16 19:21] 304NotModified commented on #961
working at this in code.

[2015-10-16 19:51] 304NotModified opened #962 "LogFactory<T> should have new() restriction"
Related https://github.com/NLog/NLog/issues/961

We try to create a new instance of T. That wont work if there is not a default ctor.

[code]

Should be

[code]

[2015-10-16 19:52] ie-zero commented on #951
After a quick look, I believe most code which needs decoupling sits in `LogFactory` class.

It seems to me the `LogFactory` class is actually a `XmlLogFactory` which is called as default by `LogManager`.

[2015-10-16 19:55] 304NotModified commented on #951
I think you mean `LoggingConfiguration` and `XmlLoggingConfiguration`?

Any way, was thinking about this, and moving from 1 dll to 2, could be a breaking change. So this should be NLog 5.

[2015-10-16 20:05] ie-zero commented on #951
You are absolutely right on both @304NotModified.

[2015-10-16 20:23] 304NotModified commented on #923
If you don't like the side effect of NLog, just clear the configuration:

[code]

If you like to test your calls to NLog (your case)

[code]

Result:

![image](https://cloud.githubusercontent.com/assets/5808377/10552499/8985111c-7454-11e5-8dab-c92a2183cf52.png)

[2015-10-16 20:24] 304NotModified commented on #916
I thinks this a duplicate of https://github.com/NLog/NLog/issues/923 ?

[2015-10-16 23:44] 304NotModified opened #964 "File archiving DateAndSequence & FileArchivePeriod.Day won't work always (wrong switching day detected)"
FileTarget_ArchiveNumbering_DateAndSequence + FileTarget_ArchiveNumbering_DateAndSequence_WithCompression

Test fails, as files are created with 16-okt, and the clean

System.IO.FileNotFoundExceptionCould not find file ...\archive/2015-10-17.1.txt'

![image](https://cloud.githubusercontent.com/assets/5808377/10555481/48fd8d74-7470-11e5-911b-b01cf20bbcfd.png)

[2015-10-16 23:50] 304NotModified commented on #964
IsDaySwitch bugs, becuase the lastWriteTime is in UTC? (and my filesystem not)

![image](https://cloud.githubusercontent.com/assets/5808377/10555566/5cee0ae2-7471-11e5-8070-a4595cb36618.png)

[2015-10-16 23:52] 304NotModified commented on #964
![image](https://cloud.githubusercontent.com/assets/5808377/10555587/ae9965a8-7471-11e5-953f-4d4c4146680c.png)

[2015-10-17 00:20] 304NotModified commented on #951
Well but maybe we can add the interfaces as proposed in the topic start?

[2015-10-17 17:31] ie-zero commented on #531
**Properties**
`ExceptionLoggingOldStyle` in LoggingConfiguration - alternative *unknown*

**Methods**
`DisableLogging()` in LoggingConfiguration - alternative `SuspendLogging()`
`EnableLogging()` in LoggingConfiguration - alternative `ResumeLogging()`

[2015-10-17 19:22] ie-zero commented on #531
We might wish to consider if the methods and properties related to NLog 1 in `Logger` and `ILogger` are still required.

[2015-10-17 19:31] 304NotModified commented on #531
Can you give some examples of methods/properties?

[2015-10-17 19:36] 304NotModified commented on #531
Proposal:

- [ ] 1. Finding all current `Obsolete` attribute usages
- [ ] 2. Find alternatives for the obsoletes
- [ ] 3. Find out in which NLog version there are marked as obsolete
- [ ] 4. Alter the message in the Obsolete Attribute. Proposal: "Deprecated since NLog X, use Y, this will be used is NLog Z", where `Z > X+1`
- [ ] 5. Find new possibilities to mark as obsolete.
- [ ] 6. Mark them as

[2015-10-17 19:48] 304NotModified commented on #531
added table for 1.

[2015-10-17 20:53] #956 closed

[2015-10-17 21:33] #955 closed

[2015-10-17 21:59] 304NotModified commented on #942
Maybe https://codecov.io is better

[2015-10-17 23:40] #916 closed

[2015-10-18 06:13] DanubeRS commented on #955
Just about to remove it and noticed the change. Thanks.

[2015-10-18 12:02] 304NotModified commented on #942
I had more success with codecov (which also looks better than coveralls).

[2015-10-18 12:10] #942 closed

[2015-10-18 17:33] #957 closed

[2015-10-18 21:52] #444 closed

[2015-10-18 21:52] #914 closed

[2015-10-18 21:54] Page-Not-Found commented on #886
I am facing a peculiar unit test failure. Which passes in my local PC, but fails in appveyor 4.5, the same passes for 4.0

https://ci.appveyor.com/project/Page-Not-Found/nlog/build/4.0.11

@304NotModified do you have any idea?

[2015-10-18 21:57] 304NotModified commented on #886
I will check

[2015-10-18 21:59] 304NotModified commented on #886
Well it's using threads, so locks etc are important. Is something changed in the MappedDiagnosticsLogicalContext?

[2015-10-18 22:03] Page-Not-Found commented on #886
Yes, I re factored to point to new Logical Thread Context Class

[2015-10-18 22:06] 304NotModified commented on #865
@BrutalCode

Hint: I could have something todo with assembly versions, so if you can't reproduce the error, we have to look to the versioning.

[2015-10-18 22:18] BrutalCode commented on #865
I checked the assembly version of NLog.Web, it is 1.0.0.0 at the [master] (https://github.com/NLog/NLog.Web)

I will try to reproduce the error and let you know.

[2015-10-20 08:55] StuartHemming opened #977 "Incomplete stacktrace"
I'm implementing NLog in an app. The config for the DB Insert that the log does includes this ...

    <parameter layout="${stacktrace:format=Raw}" name="@Stacktrace"/>

yet when a log item is written, the output always looks something like this...

I've been told that the stacktrace will only include the filename and location details if the Debug Info option in the project's Advanced Build Settin

[2015-10-20 10:48] tiljanssen opened #978 "Introduce maxLogLevel for NLogTraceListener"
I have a library for which I use NLogTraceListener that issues certain messages at an inappropriate "Warn" level. I would like to limit the logLevel of this library to "Info" without changing the level of "debug" and "trace" messages (which is what forceLogLevel would do).

maxLogLevel would be inferior to forceLogLevel.

Will anyone object to yet another custom attribute?

[2015-10-20 14:58] 304NotModified commented on #977
Yes, but AFAIK you need a debug attribute in ASP.net:

[code]

not sure how it is in other platforms.

[2015-10-20 15:20] nirajdoshi1985 opened #979 "Using HasExited and ExitCode layout renderers"
I am using a nlog 4 logger for my WPFapplication (but it can be any .net application). In NLog Documentation there are several parameter options available for {processinfo} layout renderer. Out of them I am trying to use {processinfo:property=HasExited} and {processinfo:property=ExitCode}.

Now for example my main application has ProcessName:SampleApplication.vshost. How can I log ExitCode and Has

[2015-10-20 15:25] 304NotModified commented on #979
Hi,

I'm not sure how to answer your question, but things good to know:
We use `Process.GetCurrentProcess();` and `Process.HasExited`/ `ExitCode`.

But I think that can't be working with your current process....

[2015-10-20 15:27] 304NotModified commented on #978
You can't use the `maxLogLevel` attribute in the calling code?

[2015-10-20 19:58] 304NotModified opened #980 "Add "fast modus" to coloredConsoleTarget"
The [coloredConsoleTarget](https://github.com/NLog/NLog/wiki/ColoredConsole-target) can be slow sometimes.

Besides some performance improvements: #764, we would like to add a "fast" modus to the
coloredConsoleTarget, which has less features but more performance. So

- no regexes or find text
- only color on status

See for inspiration:  #451

[2015-10-20 20:06] 304NotModified commented on #764
Note: I cleaned the issue so that we can easier fix this issue.

[2015-10-21 11:21] tiljanssen commented on #978
I'm not in control of the library source (if I was I would make it use NLog :-). I can request a change, but until that comes through, it will be useful to limit the level.

[2015-10-21 13:41] #931 closed

[2015-10-21 13:50] 304NotModified commented on #978
Ah I understand it now.

I think it would be nice to have a filter method? But I have never used `NLogTraceListener`. Can you send me a config/code example?

[2015-10-21 15:05] tiljanssen commented on #978
Filtering would remove the message, not change the level, I think.

NLogTraceListener is used to  pass the loggings done with Trace calls of system.Diagnostics through to NLog, similar to adding a  logger to NLog.
You invoke it through App.config. Below an example which sets forceLogLevel.

  <system.diagnostics>
    <sources>
      <source name="exampleLib" switchValue="Verbose">
        <listene

[2015-10-21 15:13] 304NotModified commented on #978
yes indeed. I was under the impression that you would like to remove the "warn" messages.

[2015-10-21 15:32] pinchegera commented on #255
I use the following extensions in my code and it always seems to work for me.

internal static class DiagnosticExtensions
    {
        /// <summary>
        /// Gets the fully qualified name of the container class.
        /// </summary>
        /// <param name="type">The type.</param>
        /// <returns></returns>
        public static string GetContainerClassName(this Type type)
        {

[2015-10-21 17:58] 304NotModified commented on #255
Cool! Thanks! We try it :)

[2015-10-21 18:41] 304NotModified commented on #390
I'm working on this. Thanks for the +1.

We are now using http://nlog.userecho.com/ :)

[2015-10-21 20:20] #964 closed

[2015-10-21 20:21] #941 closed

[2015-10-21 20:59] 304NotModified commented on #390
I can confirm this bug has been fixed in 4.1. See unit tests in https://github.com/NLog/NLog/pull/986 (Tested in 4.1 and 4.0, and some relevant tests are failing in 4.0 and succeeding in 4.1)

[2015-10-21 20:59] #390 closed

[2015-10-21 21:12] 304NotModified opened #987 "Filetarget: Max archives settings sometimes removes to many files"
In some cases the max archives setting removes too many files.

See testcase "MaxArchiveFilesWithDate_removesToManyFiles'. maxArchiveFiles = 2, but I removes 29 of the 30, hence, only one file is kept.

This problem is in `EnsureArchiveCount`. It removes +1 file, because sometimes an archive is made after this method.

See https://github.com/NLog/NLog/pull/988

[2015-10-21 22:00] Sal420 opened #989 "Error System.InvalidOperationException: The SMTP host was not specified."
Target configuration is:

[code]

[2015-10-21 22:11] 304NotModified commented on #989
Hi, which NLog version is this? Did you specify `Network` as delivery in `<mailsettings>`?

[2015-10-21 22:26] 304NotModified opened #990 "Update inner layout work around on wiki"
`{literal:text=\:}` is not needed in 4.2 any more. So that should be clear on the wiki

fix on https://github.com/NLog/NLog/wiki/When-Layout-Renderer#remarks

[2015-10-21 22:30] 304NotModified commented on #955
This is will be released this week.

[2015-10-22 00:32] Sal420 commented on #989
Hi Thanks for the quick turn around. I have applied your recommendation and received the following error from  NLog-Internal-Log

Error System.Net.Mail.SmtpException: Syntax error in parameters or arguments. The server response was: 5.1.3 Invalid address

NLog Ver 4.1.2
MVC IF Ver 5

 Web.Config change verbatim (masking company, user id and password)
 <system.net>
<mailSettings>
  <smtp>
    <netw

[2015-10-22 05:03] 304NotModified commented on #989
Does the host / smtpServer setting has special characters in it? (eg `:`)

[2015-10-22 12:14] Sal420 commented on #989
Hi,

with rested eyes and your advise to revisit the the code  - detected the typo in the email address .

The 2 recommendations resolved the issue.

thanks you.

BTW - 1 more question - would there be a way to use variables and pull the user credentials from  CredentialCache.DefaultNetworkCredentials

[2015-10-22 12:26] #989 closed

[2015-10-22 16:31] 304NotModified commented on #990
See #975

[2015-10-22 17:58] bhaeussermann commented on #764
I tried to produce the problem using the config given above and the following code:
[code]
The program's memory usage does not climb. It stays constant at 10,000K. Hence, the logger with the given config has no memory leak.

Also, looking at the code of `ColoredConsoleTarget` does not reveal to me anything that would use up a lot of memory.

Do we have any other reports of `ColoredConsoleTarget` u

[2015-10-22 18:10] 304NotModified commented on #764
Hey @bhaeussermann ,

Good analyses. It's always difficult to reproduce memory issues. I think it's still the compiled regex, because:

- The target (and so regex) are re-created when editing the config.
- The regexes are recompiled every time because it's not stored static?

http://stackoverflow.com/a/11174450/201303

IMO the regex should be only compiled in rare cases. I this case is using the r

[2015-10-22 18:11] bhaeussermann commented on #932
Is there any feedback on this?
We have the following suggestions so far:

- Always add `.zip`
- Add `.zip` only when `archiveFileName` is not set
- Add `archiveExtension` property with default `.zip`.
- Add `addZipExtensionForCompressedArchive` property with default `true`

I would prefer the last option. That way if the user does not want the archive to end with `.zip` for some reason, he/she can

[2015-10-22 18:15] 304NotModified commented on #932
Thanks for the reminder. With GitHub I cannot set messages as unread, so sometimes losing track which needs a response.

I will try to give feedback on this tonight.

[2015-10-22 18:22] bhaeussermann commented on #764
The config does not define any `highlight-word`'s.

[2015-10-22 18:24] 304NotModified commented on #764
Well they could have it. And still,  the compilation of the regex is still done every config change?

[2015-10-22 18:33] Page-Not-Found commented on #886
TC "given_multiple_threads_running_asynchronously_when_setting_and_getting_values_should_return_thread_specific_values" in MappedDiagnosticsLogicalContextTests is failing for some reason in the NLog branch itself.

[2015-10-22 18:33] bhaeussermann commented on #764
Ok. I agree that the regex's should not be compiled. But we should probably have a different issue for that since that does not seem to be the cause of the problem reported above (because the config does not contain `highlight-word`).

[2015-10-22 18:34] 304NotModified commented on #886
I never saw failing that test the last year?

[2015-10-22 18:46] Page-Not-Found commented on #886
Can you check the TC in you local machine and let me know if it is failing or passing. I just now took the NLog Master latest and ran the TC in my machine.

[2015-10-22 18:47] 304NotModified commented on #932
I think this also is the best option :)

it's inside `GetFileNamePattern` isn't?

[2015-10-22 18:52] 304NotModified commented on #886
It succcees when running all the tests of `MappedDiagnosticsLogicalContextTests`. If I run it separate, it indeed fails, but not the first time.

Ran the tests around 20 times.

[2015-10-22 18:52] Page-Not-Found commented on #886
Yes, what should be done now? Do we skip the TC or skip the refactoring of the class itself?

[2015-10-22 18:53] 304NotModified commented on #886
maybe it is https://github.com/NLog/NLog/issues/934 ?

[2015-10-22 18:54] bhaeussermann commented on #932
Yes.

[2015-10-22 18:54] 304NotModified commented on #886
I propose looking at https://github.com/NLog/NLog/issues/934 first (new branch). If we can easily fix it, then that have the preference. If not, well, we see then :)

[2015-10-22 18:54] 304NotModified commented on #932
:+1:

[2015-10-22 18:55] Page-Not-Found commented on #886
I have read #934 I will try to get this suggestion implemented for the refactored class and run the test again.

[2015-10-22 18:55] 304NotModified commented on #886
:+1:

[2015-10-22 19:12] Page-Not-Found commented on #886
The design in the blog referred in #934 looks much better. I will see if that can be implemented.

[2015-10-22 19:21] 304NotModified commented on #655
The information :)

The current Sandcastle Help File Builder files are at:
`NLog\src\Docs\Frameworks`

You can build the docs with
`msbuild NLog.proj /t:rebuild /t:BuildIndividualDocumentation  /p:BuildLastMajorVersion=4.0.0 /p:AssemblyFileVersion=4.1.2 /p:BuildVersion=4.1.2 /p:configuration=release /p:BuildLabelOverride=NONE
`

The target
[code]

My tryout was: https://github.com/304NotModified/N

[2015-10-22 19:21] 304NotModified commented on #886
Thanks for the up!

[2015-10-22 21:31] Page-Not-Found commented on #934
@BrutalCode I am working on #886. I will see if I can get this done in that itself.

[2015-10-22 21:34] 304NotModified commented on #885
With the experience of NLog 4.1.0, we have now full confidence that we can handle the strong name shortcomings.

So maybe a bit late, but the new NLog.Web and NLog.Windows.Forms are now strong named.

[2015-10-22 21:34] #885 closed

[2015-10-23 00:40] Page-Not-Found commented on #886
I was looking for Dictionary which is immutable for MDLC, it is available only in .Net4.5 and above. To pursue this idea I was looking for Custom implemented ReadOnlyDict like ReadOnlyCollection and found the this [article](https://www.cuttingedge.it/blogs/steven/pivot/entry.php?id=29)

I wasn't sure if we can use this code from the above blog since there was mention about License terms, so I want

[2015-10-23 08:52] BrutalCode commented on #934
Thank you @Page-Not-Found.
Do you mean that your workings on #886 will fix also this issue?

[2015-10-23 11:48] Page-Not-Found commented on #934
While working on #886 I hit the same issue during testing. Can you take a look at this comment, I am new to OSS development.

https://github.com/NLog/NLog/issues/886#issuecomment-150395967

[2015-10-23 12:03] BrutalCode commented on #934
It is great thing that you hit the same issue during your tests. So that you can identify and solve the problem.

I will look your comment. I am at work now and not comfortable to do this.

By the way, do not worry, I am new too :)

[2015-10-23 17:49] 304NotModified commented on #934
OSS FTW!

When I found time,  I will look at it :)

[2015-10-23 17:53] 304NotModified commented on #886
License looks good,  but I not sure if we need it. Also (note: didn't looked at depth of it), most code from blogs isn't well tested (compared to github repository)

[2015-10-23 19:38] Page-Not-Found commented on #886
I was just going to use it as an example for creating immutable objects.
On Oct 23, 2015 13:53, "Julian Verdurmen" <notifications@github.com> wrote:

[2015-10-23 19:56] 304NotModified commented on #886
:+1:

[2015-10-23 21:04] Page-Not-Found commented on #886
DISCUSSION: What is the plan for phasing out 4.0 support?

[2015-10-23 21:28] Page-Not-Found commented on #886
@304NotModified @BrutalCode I would like to discuss with you guys about rewriting GDLC. I am not able to come up with a Good Solution for refactoring.

* If we take the path suggested in #934 then we wouldn't be able to maintain the same Dictionary structure as we currently have in place.
* If we want to maintain the dict structure the we would need to Use a ReadOnlyCollection which is supported o

[2015-10-23 22:53] dnlgmzddr commented on #990
@304NotModified  Done

[2015-10-23 22:54] dnlgmzddr commented on #980
I'm working on this one.

[2015-10-24 13:23] BrutalCode commented on #886
[ReadOnlyCollection<T>] (https://msdn.microsoft.com/en-us/library/ms132474(v=vs.100).aspx) is supported 2.0 and above.

`ReadOnlyCollection` makes an array read-only. But we have `Get` and `Set` methods.
I am not sure if I understand correctly.

[2015-10-24 13:44] Page-Not-Found commented on #886
Sorry for misstating the words. What I meant is [Immutable Collection](https://msdn.microsoft.com/en-us/library/dn467185(v=vs.111).aspx)

[2015-10-24 13:52] BrutalCode commented on #886
OK. I get it now. It has a dependency  [System.Collections.Immutable] (https://www.nuget.org/packages/System.Collections.Immutable/)
System.Collections.Immutable's dependenices are in dotnet 5.0

[2015-10-24 13:55] Page-Not-Found commented on #886
Now we have to decide whether to re-factor the class without the support for 4.0 and have the support for 4.5 above.

[2015-10-24 14:02] BrutalCode commented on #886
Yes. So we need to think about that its usage. Probably most of people are using GDC/MDC in 4.0 and below, and we should refactor by taking into consideration.

[2015-10-24 14:06] Page-Not-Found commented on #886
The item in question now is MDLC.

[2015-10-24 14:10] BrutalCode commented on #886
Sorry :) MDLC was supported 4.5. [I added 4.0 at aug.] (https://github.com/NLog/NLog/commit/d231b2dea84fc1f5de6408b59ed25046d1d4b169)

Maybe we can remove 4.0 supporting?

[2015-10-24 14:13] Page-Not-Found commented on #886
Do others have any opinion?

[2015-10-24 19:34] 304NotModified commented on #886
I prefer keeping support for .Net 4. Otherwise it is a breaking change.

[2015-10-24 19:36] 304NotModified commented on #980
Nice!

Good to know that @bhaeussermann is probably also working on the coloredConsoleTarget  https://github.com/NLog/NLog/issues/764

[2015-10-24 19:36] Page-Not-Found commented on #886
So we remove the GDLC refactoring for now and see at a later point for refactoring?

[2015-10-24 19:39] 304NotModified commented on #764
@bhaeussermann you're correct on that!

[2015-10-24 19:46] 304NotModified commented on #886
Yes, that's a good approach.

[2015-10-24 19:47] Page-Not-Found commented on #886
Thanks. I will revert the changes i Did with respect to GDLC and send for a PR.

[2015-10-24 19:49] #932 closed

[2015-10-24 19:50] 304NotModified commented on #886
Is it possible to extract the unit tests (with current code base) to a new PR? Then I will include those first.

[2015-10-24 19:52] Page-Not-Found commented on #886
Sorry I am not sure, In understand you clearly. Are you asking me to send the PR without the code revert?

[2015-10-24 19:56] dnlgmzddr commented on #980
@304NotModified Should I look other issue?

[2015-10-24 20:08] 304NotModified opened #997 "4.2 docs"
https://github.com/NLog/NLog/wiki/PerformanceCounter-Layout-Renderer

[2015-10-24 20:10] bhaeussermann commented on #980
@304NotModified I've fixed a bug today in `ConsoleWordHighlightingRule` and made a pull request #996 for that (there was no issue reported for this bug to my knowledge).
My pull request includes a new `ColoredConsoleTargetTests` test class, but unfortunately I could not find a way to test the colors (see my comment in that pull request).

I'm not working on any other issue related to `ColoredConso

[2015-10-24 20:59] 304NotModified commented on #997
done

[2015-10-24 20:59] #997 closed

[2015-10-24 21:01] 304NotModified commented on #886
No reverts needed.

1. Create a new branch, (from right history)
2. copy the unit tests that will work in 4.2
3. create second PR.

:)

[2015-10-24 21:04] Page-Not-Found commented on #886
Ah. Okie. I already created a second PR. Can you take a look at that quickly and let me know if I stil need to the do the above?

[2015-10-24 21:06] 304NotModified commented on #990
Thanks @dnlgmzddr !

[2015-10-24 21:06] #990 closed

[2015-10-25 18:27] Page-Not-Found commented on #723
I was looking into this item and in my opinion the first solution looks more clean as well as matching other formatting layouts which we already have in place. For Eampple we specify "toString", "mm/dd/yyyy" for dates.

[2015-10-26 09:05] Steven-6tm opened #1002 "Time issue on GetLogger (slow)"
Hi,

I'm sorry if this issue has already been told, but I couldn't find it. I use NLog for logging purpose (of course) on a .NET application and sometimes I can see the "GetLogger" function taking several seconds, like 10 or 30!!

I don't understand why it act like this, mostly because it really seems random to me.
Have you ever heard about that issue?

Thx,
Steven

[2015-10-26 11:28] BrutalCode commented on #1002
Is your application multithreaded?

Could you please provide more specific information?
(NLog version, configuration, target type, application type and environment.)

Thank you for the feedback!

[2015-10-26 11:42] 304NotModified commented on #1002
Posting the config, NLog version and internal log could be also helpful :)

See https://github.com/NLog/NLog/blob/master/CONTRIBUTING.md#bug-reports

[2015-10-26 12:07] Steven-6tm commented on #1002
Sorry, there are the missing informations:
- NLog version: 3.2.0.0
- Multithreaded: Yes

And the config:
- In my web.config:
&lt;nlog xmlns=&quot;http://www.nlog-project.org/schemas/NLog.mono2.xsd&quot; xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;&gt;
    &lt;include file=&quot;${basedir}/Settings/nlog.local.config&quot; /&gt;
  &lt;/nlog&gt;
- In my nlog.*.config (I use local/d

[2015-10-26 12:28] 304NotModified commented on #1002
yes, you need to create the directory for the internal logger (note fixed in NLog 4.1 -  #802 )

[2015-10-26 12:30] BrutalCode commented on #1002
Thank you Steven! We will investigate it.

[2015-10-26 12:55] Steven-6tm commented on #1002
There is a full trace (sorry there is some french in there x) ... ) :

Catégorie	Message	À partir des premiers	À partir des derniers
	Get LoggerName
	Get Logger	0,000124	0,000124
	Ini logger	0,004109	0,003985
	Enter GetConfiguration	0,004734	0,000625
	Conf not loaded	0,004753	0,000018
	Load default	0,004770	0,000017
	default loaded	3,575612	3,570843
	config chargée, dump	3,575649	0,000036
	watch f

[2015-10-26 13:03] Steven-6tm commented on #1002
And when we remove the "Mail" type, we fall from 30/45s to 1.5/3s.
(Sorry for this multi post ... We're trying to figure it out ourself)

[2015-10-26 13:37] BrutalCode commented on #1002
Don't worry. Details are welcome. We will investigate it as soon as possible.
If you find thing out more, please feel free to let we know.

Thank you again.

[2015-10-26 14:14] Steven-6tm commented on #1002
So, it seems that when we don't set any value inside our mail, we don't have 30s for the first init :

&lt;targets&gt;
    &lt;target name=&quot;MailFile&quot; xsi:type=&quot;File&quot; fileName=&quot;${LogDir}/Mails/${LogDay}.log&quot; layout=&quot;${longdate} ${uppercase:${level}} ${message}&quot; /&gt;
    &lt;target name=&quot;500Mail&quot; xsi:type=&quot;Mail&quot;
          smtpServer=&quot;

[2015-10-26 16:28] 304NotModified commented on #1002
@BrutalCode I expect this is a timeout somewhere

[2015-10-26 21:17] 304NotModified opened #1003 "Move asp targets/layout renders to nlog.web or nlog.web.asp"
plain old asp (not asp.net) is still in NLog.core

[2015-10-26 21:34] Sal420 opened #1004 "NLog's 'internalLogFile' destination question"
Parameter: internalLogFile="c:\temp\nlog-internal.log"

can this destination be
1) a database
2) or use a syntax of '~\App_Data\Logs\nlog-internal.log" . I tried but failed. Was this a user error on my end?

[2015-10-26 21:35] 304NotModified commented on #1004
It's limited to an absolute file path.

Why not use the FileTarget/DatabaseTarget?

[2015-10-26 21:36] 304NotModified commented on #1002
@Steven-6tm can you test with a recent NLog version? (4.2.0?)

[2015-10-26 22:15] Page-Not-Found commented on #953
Is some one working on this already?

[2015-10-26 22:24] 304NotModified commented on #953
nope!

[2015-10-26 22:27] Page-Not-Found commented on #953
I will start working on this

[2015-10-26 22:28] 304NotModified commented on #953
:+1:

[2015-10-27 08:33] Steven-6tm commented on #1002
@304NotModified Unfortunately, we did test with the 4.2.0 without any improvements.

(And sorry, again, for the missing fences, I kind of skimmed the bug-report rules ^^' ...)

[2015-10-27 12:19] Sal420 commented on #1004
The destination file is not the 'application' target but NLog's target see last line below

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Info"
      internalLogFile="c:

[2015-10-27 13:13] 304NotModified commented on #1004
OK. I'm curious, in which case do you need this?

Because the internalLog is only needed when analyzing NLog's behavior

[2015-10-27 13:14] 304NotModified commented on #1002
OK, no problem, but good to know because we can easier test in the latest version

[2015-10-27 14:03] Sal420 commented on #1004
as you mentioned for analyzing - just curious if it can be stored elsewhere - perhaps review the log on an initial deployment. This not a road block - more a curiosity.

[2015-10-27 14:04] #1004 closed

[2015-10-27 15:40] polipo opened #1007 "Android Xamarin support"
Dear,
When NLOG is compatible with Android Xamarin ?

I have found some prj fork but don't compile...

[2015-10-27 15:50] 304NotModified commented on #1007
We try to implement that in 4.3. But we need some help from users who are using Xamarin. Can you help with that?

[2015-10-27 21:42] Page-Not-Found commented on #953
@304NotModified would you mind adding some ore information. When I search for the keywords I feel most of the are good.

[2015-10-27 22:04] 304NotModified commented on #953
You have to search for `.Render()`.  For me it the same work, but I'm more busy with bugs and xamarin support this week.

I think there are maybe 20 cases in the whole code,  but we need more with non-string layouts in the future.

[2015-10-27 22:06] 304NotModified commented on #953
Nothing wrong if this isn't a big refactoring :)

I'm curious how you would create the helpers.

[2015-10-27 22:46] Page-Not-Found commented on #723
Can we use Newtonsoft serialize? [JSON.NET](http://www.newtonsoft.com/json)

[2015-10-28 08:49] polipo commented on #1007
Yes if my skill permit that..

[2015-10-28 18:19] 304NotModified commented on #1007
:+1:  that will be fine. More which tools I can use and maybe you can test it :)

We never used xamarin, so supporting is a bit tricky. What do I need to compile it besides visual studio?

[2015-10-28 18:48] 304NotModified commented on #723
Thanks Sree,

Yes I like that one also the best one. But do we need the `raw` attribute? It can be a property of the layout renderer?

[2015-10-28 19:03] 304NotModified opened #1008 "Nuget package misses licence"
Fix nuspec?

[2015-10-28 19:59] 304NotModified commented on #1007
PS I applied for the Xamarin Tools for OSS projects: https://xamarin.com/faq#q36

[2015-10-28 20:16] 304NotModified commented on #1007
- [ ] configure Xamarin in Appveyor: http://www.appveyor.com/docs/lang/xamarin
- [ ] fix builds
- [ ] Releasing it as a component on the Xamarin Component Store: http://components.xamarin.com

[2015-10-28 21:48] Sal420 opened #1010 "How can Configuration File Variables be accessed in code"
I've tried a couple of variations of the below
var x = logger.Factory.Configuration.Variables ?????

[2015-10-28 22:29] 304NotModified commented on #1010
Hey

use:

[code]

etc

[2015-10-28 22:30] 304NotModified opened #1011 "Add VariableLayoutRenderer docs to Wiki"
${var} layout renderer

Seems to be missing? Also include how to change the variables in code. See https://github.com/NLog/NLog/issues/1010

Also check the tutorial

[2015-10-28 23:05] Sal420 commented on #1010
Hi
you steered me in the right direction. I was looking  to read variable (use it as input to drive logging). The solution:

if (logger.Factory.Configuration.Variables["password"].Text) = "mypassword"

[2015-10-28 23:05] #1010 closed

[2015-10-28 23:23] 304NotModified commented on #1010
:+1:

Thanks for the feedback!

[2015-10-29 00:48] Page-Not-Found commented on #723
@304NotModified I am not sure how the raw attribute will be used with toJSON formatting. What I was thinking is if the format is set to toJSON, then we can render as depicted in the initial comment of this ticket.

[2015-10-29 01:03] Page-Not-Found commented on #953
I am not able to come up with helpers other than the SafeRender as a Extension method.

[2015-10-29 07:50] polipo commented on #1007
Dear,

for compile NLog in Visual Studio you can install the Xamarin framework,

this framework is not free but you can have a 30 day trial before purchase it.

This framework have a plugin for visual studio or you can use the ide “Xamarin Studio” (I prefer vs..)

Link for downloading

https://xamarin.com/download

I have a commercial Xamarin License.

Da: Julian Verdurmen [mailto:notifications@gi

[2015-10-29 08:01] polipo commented on #1007
Great I read in previous posts you've joined the project Xamarin!
I wait for news on the release of NLog for Android

[2015-10-29 09:43] njale opened #1012 "SerializationException while running NUnit 3.0 Beta 5"
My unit-tests run fine in the runner from Resharper (providing I use options CopyNuGetImplementations=true in csproj). If running in nunit-console for TeamCIty I get heaps of problems, but the real show stopper has been the following:

System.Runtime.Serialization.SerializationException: Type 'NUnit.Framework.Api.FrameworkController' in assembly 'nunit.framework, Version=3.0.5767.14876, Culture=ne

[2015-10-29 09:54] njale commented on #1012
My appologies for reporting this under the wrong application. Some how I messed up and reported this for nLog and not nUnit.

[2015-10-29 09:54] #1012 closed

[2015-10-29 10:51] 304NotModified commented on #1012
NP! :)

[2015-10-29 13:45] Sal420 opened #1013 "Parsing a layout in NLog.Config does not work"
Layout for user id:  <parameter name="@userName" layout="${identity}" />
produces: auth:NTLM:domaninName\\userID

I want only userID. To remove the unwanted characters I tried:

[code]

This did not work. Is it possible to remove the unwanted characters?

[2015-10-29 14:20] 304NotModified commented on #1013
Which NLog version?

You need to escape the colon, so:

[code]

This only works in NLog 4.2+

[2015-10-29 14:27] Sal420 commented on #1013
using ver Nlog4.2
there are 2 colons. Do they all need to be escaped (I assume yes) what about the  \ or any other characters.

[2015-10-29 14:39] Sal420 commented on #1013
BTW - the code is in the NLog.Config file

Escaping the colon did not work. The test code is:
<parameter name="@userName" layout="${identity}.Replace('auth\:NTLM', '')" />

[2015-10-29 14:47] Sal420 commented on #1013
Should have posted the results

auth:NTLM:domainName\userId.Replace('auth\:NTLM', ''

[2015-10-29 16:56] 304NotModified commented on #1013
You need the ${replace} layout renderer and to escape the colon.

Something like this:

[code]

[2015-10-29 17:26] Sal420 commented on #1013
thanks for your help the final working version below needed to escape all colons and back slash

<parameter name="@userName" layout="${replace:searchFor=auth\:NTLM\:domainName\\:replaceWith=:regex=false:inner=${identity}}" />

[2015-10-29 17:27] #1013 closed

[2015-10-29 17:33] 304NotModified commented on #1013
OK great!

[2015-10-29 18:02] pablohiga commented on #513
Hi,
I'm using NLog version 2.1.0 and I'm facing this same issue under high logging load conditions.
Was it fixed in later versions?

thanks!

[2015-10-31 22:05] epignosisx opened #1014 "Add overflow action for EventLogTarget when the message is larger than the max message size of the Event Log"
I noticed that EventLogTarget truncates messages when it reaches the max message size. Has it been considered to split the message and write the chunks to the event log?

This is the method in question:

https://github.com/NLog/NLog/blob/master/src/NLog/Targets/EventLogTarget.cs#L214

[2015-11-01 12:11] mikhail-barg commented on #902
Yes, I actually meant storing `LinkedListNode`s together with sender in one way or another. Using HashSet implies O(n) insertion each time the current capacity is exceeded, so LinkedList seem to be more appropriate, while a bit more awkward to use.

As far as I understood the code, the only read-access for the `openNetworkSenders` happens in `CloseTarget()` where you close all open senders. It see

[2015-11-02 22:38] 304NotModified commented on #513
Hi,

We have improved a lot in the newer version, but not an isolated memory issue (too bad?).

If you experience still problems with NLog 4.2, we are ready to help to diagnose and fix the problem!

[2015-11-02 22:39] 304NotModified commented on #513
I that case, please open a new issue.

We cannot fix this issue because we don't have enough feedback, so closing it.

[2015-11-02 22:39] #513 closed

[2015-11-02 22:40] 304NotModified commented on #1014
Hi,

We never considered that, because it's IMO a strange effect to create 2 events for 1 log message. Although, it's easy to implement.

Any way, this max size should be documented well.

[2015-11-02 22:43] 304NotModified commented on #902
Good point!

Thanks for checking

We can fix that maybe also.

[2015-11-02 23:04] 304NotModified commented on #1002
@UgurAldanmaz any results on this?

[2015-11-02 23:15] 304NotModified commented on #1002
@Steven-6tm I tested it locally, and it's super-fast. Would it be possible to extract the issue to a demo application?

[2015-11-02 23:21] 304NotModified commented on #1002
PS a trace log would be also helpful :)

[2015-11-03 07:43] mikhail-barg commented on #902
I think it's really not great to give some options that actually have no meaning for end-user. Being an end-user, I don't see how can I decide which one to use without looking through the code of the target.

It's possible but I don't have a setup for this kind of testing.

Yes, maybe the general redesign would be a better option than trying to fix the specific issue here.

[2015-11-03 09:53] 304NotModified commented on #902
I just saw this :)

(free)

https://www.jetbrains.com/dotmemory/unit/

[2015-11-03 09:55] 304NotModified commented on #902
Well, then we have to 100% sure it's (always!) an improvement. And I'm not sure, because there are also downsides to linkedlists. IMO the concurrentDictionary is way much better (no locking needed etc).

Can you check if this is possible?

[2015-11-03 09:57] 304NotModified opened #1015 "Introduce dotMemory Unit tests"
Add unit tests with usage of the free [dotMemory](https://www.jetbrains.com/dotmemory/unit) library to check the memory. Related: #902 and #764

[2015-11-03 09:58] 304NotModified commented on #764
@bhaeussermann what do you think about this proposal?

[2015-11-03 10:51] bhaeussermann commented on #764
@304NotModified Ok.

[2015-11-03 20:56] 304NotModified commented on #1007
FYI,  WIP in https://github.com/NLog/NLog/pull/1009

[2015-11-03 22:42] 304NotModified commented on #1007
Android + WinPhone8: https://www.nuget.org/packages/NLog/4.3.0-alpha1

Can you try it? Not sure if:

- The nupkg is correct
- The assembly Full name needs a version number

[2015-11-03 22:54] 304NotModified commented on #1007
Any experience with xamarin ios? And what about xamarin android with unit tests?

[2015-11-04 02:01] epignosisx commented on #1014
I see your point about creating 2 events for 1 log message, specially if you are expecting log messages in a particular format like JSON and you do not get a properly formatted message.

We have been hit by this limitation with our homegrown logger and we are splitting the message. We care more about getting the entire message than getting two entries. I would think we are not the only ones. We ha

[2015-11-04 02:59] Page-Not-Found commented on #873
Adding Action delegates is more appropriate. The Func cannot return a value which is required for us to set the value of the key in the Context dictionary.

[2015-11-04 03:15] Page-Not-Found opened #1016 "Overhaul ExceptionLayoutRenderer Methods"
*Modify the Delegates to be func.

Delegate Definition / Signature:

[code]

Methods which will be affected by this

[code]

[2015-11-04 14:10] mikhail-barg commented on #902
I haven't tested things myself, but I don't see what downsides may LinkedList have in this particular situation. The only relatively slow part would be memory allocation during Add, but anyway you are allocating a Sender at that time, so not much of a downside. Also when resize happens with regular List.Add() it should be much worse. And surely each Remove() would be times faster than with the Lis

[2015-11-04 22:52] 304NotModified commented on #902
Agree with that. Looking at it this weekend.

Maybe I will choose for the configurable backend as it's full backwards compatible.

[2015-11-04 22:52] 304NotModified commented on #902
And that's easier to release the

[2015-11-05 15:25] 304NotModified commented on #511
Maybe related http://raph.es/blog/2011/05/manually-caching-configuration-sections-to-avoid-the-.net-4-bug/

[2015-11-06 19:44] 304NotModified commented on #902
hey!

I tried the linkedlist proposal. there is a problem, because [linkedlist.remove(node)](https://msdn.microsoft.com/en-us/library/43ttx77w(v=vs.110).aspx) throws an exception when it's not there, hence needing a try-catch, and so say goodbye to the faster remove?

PS:  The opensenders are used to flush all sender data before flushing the target.

[2015-11-06 19:51] 304NotModified commented on #902
edit: I checked the code and you can see it's not in the list by checking [LinkedListNode<T>.List]( https://msdn.microsoft.com/en-us/library/h339c45b(v=vs.110).aspx.) ?

[2015-11-06 19:52] 304NotModified commented on #902
See PR

[2015-11-07 13:23] mikhail-barg commented on #902
Yes, looks nice! I hardly understand when it could be not in list, but that's again because I hardly understand the inner logics there. Hope to see it in next release!

[2015-11-07 13:45] 304NotModified commented on #902
Well I haven't cover 1 yet (MaxOpenConnections/OnMaxOpenConnectionsExceeded) .  How do you think it should work?

I can really soon push a RC for this to nuget.  Can you test it then?

[2015-11-08 00:35] 304NotModified commented on #977
Has your issue being fixed?

[2015-11-08 00:36] 304NotModified commented on #949
Closing this as this is a dup and has no activity

[2015-11-08 00:36] #949 closed

[2015-11-08 00:36] 304NotModified commented on #923
Has your question being answered?

[2015-11-08 00:37] 304NotModified commented on #928
Closing this dup

[2015-11-08 00:37] #928 closed

[2015-11-08 00:40] 304NotModified commented on #978
I think it's a good idea to add this, if we can implement it a more generic/flexible.  (so not only *max* level and maybe also not limited to the level of an event)

[2015-11-08 00:40] 304NotModified commented on #979
We need to add this to the docs.

[2015-11-08 02:05] Page-Not-Found commented on #723
Do any one have any other suggestions on this?

[2015-11-08 11:05] mikhail-barg commented on #902
Yes, I think we may run it on a copy of our production service, if it's available in NuGet.

[2015-11-08 11:07] 304NotModified commented on #902
OK,  but what to do with MaxOpenConnections/OnMaxOpenConnectionsExceeded?

[2015-11-08 11:47] mikhail-barg commented on #902
I think there are two options:
1. Make the target work properly with AsyncTargetWrapper (I think this means just block logging when MaxOpenConnectionsExceeded).
2. Repeat some of the AsyncTargetWrapper functionality in the NetworkTarget, — add a queue, and implement a number of OnMaxOpenConnectionsExceeded options, like block/drop/enqueue.

First option might be better, but second would allow crea

[2015-11-08 11:56] 304NotModified commented on #902
Why is 1 not working properly?

We can of course create multiple queues with multiple targets.

[2015-11-08 12:04] mikhail-barg commented on #902
You mean, why does it not currently work properly? I'm not too sure right now as initial investigation was 2 months ago, and I partially forgot things. But reading my initial post I came to think that it's because NetworkTarget would accept all the logging events you send to it and don't block. So you may pass as much events as you can to AsyncWrapper, it would just forward events to underlying Ne

[2015-11-08 12:21] 304NotModified commented on #902
Ow sorry, I didn't understood that you were referencing to the initial post.

I have to look into detail in the AsyncWrapper-target,  but the overflow =block doesn't work? Or is does something else?

[2015-11-08 12:23] mikhail-barg commented on #902
Hm, I mean that Overflow=block works in the AnyncWrapper in principle, but no overflow happens in NetworkTarget currently.

[2015-11-08 14:31] #987 closed

[2015-11-08 17:19] 304NotModified opened #1022 "Improve mocking of file target (current date)"
There are/were some bugs with file archiving which are difficult to (unit)  test. Most of the time this has to do with the usage of current date(times) .

Proposal : inject "current"  date into file target for better and more robust testing.

Related: #859, #888, #964.

[2015-11-08 17:21] 304NotModified commented on #922
Ps. We fixed this in NLog 4.2. The zip is added to the archive if you don't specify a name for the archive file.

[2015-11-08 17:30] 304NotModified commented on #1016
Do you mean to change the exception layout renderer? And to introduce funcs instead of a big switch?

(PS func is always prefererred by delegate nowadays)

[2015-11-08 17:33] 304NotModified commented on #1014
I think it's nice of we create a "overflow"  option. With possible values (enum) : truncate,  create multiple events.

The big benefit is that the truncate is more transparent.

What do you think?

[2015-11-08 18:13] bwstaal commented on #922
I saw that you fixed it. Thanks!

[2015-11-08 18:43] 304NotModified commented on #902
I have to agree I find this a difficult one.  Of the overflow works in AsyncWrapper, why isn't that enough? Can you give an example?

I like to fix this, but not sure we're to start now.

[2015-11-08 20:54] Page-Not-Found commented on #1016
Yes. I meant **ExceptionLayoutRenderer**. The switch will still be there, but just replace the delegates with func.

Do you have any proposal of totally removing the switch case?

PS: I corrected the title.

[2015-11-08 22:21] 304NotModified commented on #1016
In my opinion the current code is too much coupled.

But I'm doubting if removing the switch is overdesign, let me know:

1. create an enum for the Format values (please keep the string format backwardscompatibe)
2. create a method for parsing the format string to list of enum
3. create a static dictionary from enum to func
4. CompileFormat is now just a `foreach` over the result of 2 and using 3.

[2015-11-08 22:37] Page-Not-Found commented on #1016
Let me try to get a proposed code change in.

[2015-11-08 23:27] Page-Not-Found commented on #1016
@304NotModified Sorry for mis-stating in the initial thread of this issue. What I actually meant was to replace with Action delegates instead of func delegates.

[2015-11-08 23:34] 304NotModified commented on #1016
Yes action is also OK. :)

[2015-11-08 23:41] Page-Not-Found commented on #1016
Okie. I am working on it. Will try to get the code ready by this week.

[2015-11-08 23:45] 304NotModified commented on #1016
:+1:

[2015-11-09 10:44] 304NotModified opened #1023 "undo unneeded breaking change: databasetarget.useTransactions"
https://github.com/NLog/NLog/wiki/Database-target

This leads to an error when upgrading, which is really unneeded. Also, it should be first obsolete and then removed in future versions.

Steps:

- [x] restore property and make it obsolete (will be removed in NLog 6)
- [x] create a warning instead of error in internal log (it would be better if we create automatically and warning for obsolete prop

[2015-11-09 13:50] epignosisx commented on #1014
I like it. I'll work on the change. Do you think a third value "Ignore" as in ignore the log message altogether would be useful? I'm thinking of those scenarios where we wouldn't like to have incorrectly formatted entries in the logs. Maybe we are rigorously expecting XML or JSON in the logs.

[2015-11-09 15:43] 304NotModified commented on #1014
I think Ignore is also useful (in some rare cases) :+1:

[2015-11-09 19:23] nirajdoshi1985 opened #1024 "NLog doesn't throw exception to application"
I want NLog to throw exceptions and pass to my application whenever database target has a connection failure.

This is my NLog config file:
[code]

Now, it does throw run-time exceptions when config when there is error in config file. Also it does log exceptions about connection failures in internal log file, but it doesn't throw exceptions back to the calling application.

I also tried wrapping L

[2015-11-09 19:34] 304NotModified commented on #1024
I'm afraid that isn't working well, yet.

We're working on it: https://github.com/NLog/NLog/pull/915

What you use the Fallback target: https://github.com/NLog/NLog/wiki/FallbackGroup-target

[2015-11-09 19:40] nirajdoshi1985 commented on #1024
Thank you for your prompt response. I will have a look at Fallback target and waiting for resolution of `HandleException()`.

[2015-11-09 19:40] #1024 closed

[2015-11-10 20:16] mikhail-barg commented on #902
Well, I'll try to explain, please tell me if it makes any sense.

So, imagine you have a `SlowNonblockingTarget` which does something like this:
[code]
Now i I get right how the AsyncWrapper works, when you wrap it around this target and start issuing events, you will get the following:
1. The target never blocks, so AsyncWrapper would just happily forward all writes to `SlowNonblockingTarget`, it

[2015-11-10 22:42] 304NotModified commented on #902
Ah I think I have seen the light.

The real problem is that the `AsyncTargetWrapper` can't be used as the `NetworkTarget` is always `async` (and the queue length is not communicated to the  `AsyncTargetWrapper`). - and that is what you have said in the start ;)

So I think we have the two options:

1. as proposed we can introduce the OverFlowActions in the `NetworkTarget`. We can use the [`AsyncRe

[2015-11-10 22:49] 304NotModified commented on #902
@mikhail-barg What is the `MaxQueueSize` doing?

[2015-11-10 23:20] jonreis opened #1028 "File target with concurrentWrites="True" and enableArchiveFileCompression="True" does not function"
Here is my File target specification:

     <target name="FileLogger" xsi:type="File" header = "------ Connexion v${assembly-version} ------" layout="${longdate} (${threadid}) ${level} ${event-context:eventId} [${logger}] ${share.TruncateLayout:${message}} ${exception:format=tostring}" fileName="${specialFolder:folder=CommonApplicationData}/ConnexionV14/logs/Connexion.txt" archiveFileName="${speci

[2015-11-10 23:41] 304NotModified commented on #1028
Hi,

Can you post the full exception and relevant internal logs? See https://github.com/NLog/NLog/blob/master/CONTRIBUTING.md

Thx!

[2015-11-10 23:48] Page-Not-Found commented on #1016
@304NotModified

How do see we can test this once the enums are created?

[2015-11-11 00:02] jonreis commented on #1028
The version is 4.2. The stack trace is:
   at System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath)
   at System.IO.FileStream.Init(String path, FileMode mode, FileAccess access, Int32 rights, Boolean useRights, FileShare share, Int32 bufferSize, FileOptions options, SECURITY_ATTRIBUTES secAttrs, String msgPath, Boolean bFromProxy, Boolean useLongPath, Boolean checkHost)
   at System

[2015-11-11 00:09] jonreis commented on #1028
The issue is the FileShare.Delete option. From MSDN:

https://msdn.microsoft.com/en-us/library/windows/desktop/aa363858(v=vs.85).aspx

"You cannot request a sharing mode that conflicts with the access mode that is specified in an existing request that has an open handle. CreateFile would fail and the GetLastError function would return ERROR_SHARING_VIOLATION."

Since the file was first opened the

[2015-11-11 00:11] jonreis commented on #1028
BTW,
The compression should happen after the file has been moved, and in a background thread. The matching of the FileShare.Delete still applies, however.

[2015-11-11 01:06] jonreis commented on #1028
This would be my fix

    /// <summary>
    /// Creates an archive copy of source file either by compressing it or moving to a new location in the file
    /// system. Which action will be used is determined by the value of <paramref name="enableCompression"/> parameter.
    /// </summary>
    /// <param name="fileName">File name to be archived.</param>
    /// <param name="archiveFileName">Name o

[2015-11-11 06:11] 304NotModified commented on #1016
What do you mean?

To be more clear, I propose to use a `list<ExceptionInnerFormat>` instead of a string.

We should keep it backwards compatible though

[2015-11-11 14:40] Page-Not-Found commented on #1016
Yes I have added them into the Layour Renderer, but how do cover those lists for unit testing when we do the configuration through the API?

[2015-11-11 15:34] jonreis opened #1029 "Writing to the same file from multiple processes does not function when concurrentWrites="true" and keepFileOpen="true""
NLog version 4.2

Behavior seen: I have an application that spawns child process. Each child process writes to the same NLog log file. We have noticed that some child processes fail to write to the log, particularly when there is a roll-over of the log file, but also sometimes at startup.

Behavior expected: It must be expensive to have to open and close the file, so I would expect the keepFileOpe

[2015-11-11 15:35] jonreis commented on #1029
[code]

[2015-11-11 15:36] jonreis commented on #1029
<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload

[2015-11-11 15:50] jonreis opened #1030 "Directory paths should be normalized when read from the App.config"
NLog 4.2
While looking into another issue I noticed that my app.config contained the forward slash character '/' instead of the back slash character '\' in the path of the file. i.e, I had

fileName="${basedir}/logs/ConcurrentFileTargetTest.txt"

instead of

fileName="${basedir}\logs\ConcurrentFileTargetTest.txt"

I noticed in the FileTarget.cs function:

[code]

that the file was being looked for

[2015-11-11 16:01] jonreis commented on #1028
This fix does not actually work because for some reason the file at tempFileName remains locked by one of the processes sharing the file. Using the code in bug #1029, and setting keepFileOpen="false" seems to fix this problem, so it is probably related to that bug.

[2015-11-11 17:34] 304NotModified commented on #1016
Let's chat about this when you have time. There is no problem with testing this IMO.

[2015-11-11 17:35] 304NotModified commented on #1028
Thanks for the update.  We will look at this,  probably before Monday.

[2015-11-11 17:35] Page-Not-Found commented on #1016
Sure. I will IM you now, if you have time.

[2015-11-11 17:36] 304NotModified commented on #1029
Thanks for this nice report. Also this will be checked, probably before Monday.

[2015-11-11 17:37] 304NotModified commented on #1029
If you like,  it would be helpful if you change above code into an unit test and send a PR.

[2015-11-11 17:40] 304NotModified commented on #1030
Thanks for this report! Also this one before Monday.

[2015-11-11 17:48] 304NotModified commented on #1029
Ow unit test will be difficult because of

[2015-11-11 17:51] jonreis commented on #1029
Yes, I looked at doing a unit test, but didn't know how to trick NLog into thinking the current datetime had changed. Also, I would have to spin up multiple processes which would mean I would have to check in my .exe from the test application I wrote.

[2015-11-11 17:52] 304NotModified commented on #1022
Maybe use timesource? It's already (misused) for current date in the filetarget

[2015-11-11 18:46] mikhail-barg commented on #902
I think the other solution is possible - imposing MaxConcurrentSenders (or MaxOpenConnections as I initially proposed) parameter with default value set to infinite. So when it's not infinite and `openNetworkSenders.Count > MaxConcurrentSenders`, call to Write would just block (via some synchronization mechanism allowing it to continue when it's back to normal). Maybe less work this way?

[2015-11-11 18:57] 304NotModified commented on #902
I prefer the best way, not the easiest fix ;)

[2015-11-11 19:07] mikhail-barg commented on #902
The thing is that I actually see no reason to have unbounded NetworkTarget at all. If you are logging not too often, then you would not reach the bound. And if you are logging really lots, you would not want it to consume all of your resources.

Still if looking towards best solution, maybe it would worth to thing towards general target redesign again? You were thinking of not having more than one

[2015-11-11 19:10] 304NotModified commented on #902
This is a vote for 1) IMO.

That's right, that's the best solution, but that will take some time.

[2015-11-11 21:29] 304NotModified commented on #902
@mikhail-barg shoot: https://github.com/NLog/NLog/pull/1031

[2015-11-11 22:03] 304NotModified commented on #1028
What do you mean exactly with this? There is no code proposed in #1029?

[2015-11-11 22:04] 304NotModified commented on #1029
I was thinking about this. Could this even work? If someone keeps it open, how could others write to it?

Why not `keepFileOpen=false`?

[2015-11-11 22:06] 304NotModified commented on #1030
I think this is by design. We do support Mono and with non-Windows system, the casing is important.

[2015-11-11 22:54] 304NotModified commented on #1030
I tried to unit test this, but all succeeded. Any idea how to unit test this? See https://github.com/NLog/NLog/pull/1032

[2015-11-11 23:14] #1023 closed

[2015-11-12 14:26] Pyfhon opened #1034 "Incorrect work of option "withException" / logger.Error(ex)"
Hi
NLog 4.2.0
It seems that message layout renderer always outputs stack trace if "message" parameter has not been set.

Test code:

[code]

NLog.config:

[code]

Result with 'withException=false':

[code]

Result with 'withException=true':

[code]

[2015-11-12 20:10] mikhail-barg commented on #902
Well, I might be wrong, but it seems to me that jut adding `Monitor.Wait` call is not enough to make everything work here.

I think you'll need to call `Pulse` from the sneder thread at the moment you remove it from the list. And also the `Wait` call should happen when the thread holds lock for the object, see [docs](https://msdn.microsoft.com/en-us/library/ateab679(v=vs.110).aspx).

[2015-11-12 20:21] 304NotModified commented on #902
Thanks! I missed that indeed!

[2015-11-12 20:38] 304NotModified commented on #1034
I see it. The problem is that:

[code]

Should it write to `${message}` or `${exception}`? Well, now it's doing both because it's ambiguous.

[2015-11-12 20:40] 304NotModified commented on #902
PR has been updated.

[2015-11-13 01:09] jonreis commented on #1028
I mean using the test code in #1029. ie. to reproduce the issue.

[2015-11-13 01:13] jonreis commented on #1030
It is something I noticed in the debugger. Just try setting the '/' in the config file and set a break point in RollArchiveForward, you will see what I mean. You can use the test code from #1029 and roll the date by changing the date on your computer. Not sure how to unit test this.

[2015-11-13 01:20] jonreis commented on #1029
That is why Windows and other OS's have Share.ReadWrite | Share.Delete. Also, a process mutex is taking out for writing to the file. I'm not sure why FileLocks are not used, but I'm sure there is a reason.

Have you seen how this is implemented? It would be very poor performance. Each Logger loops until the file is available for writing. I would switch to another logging implementation before I wo

[2015-11-13 07:38] Pyfhon commented on #1034
I think that all the information about exception should write to ${exception} and to ${message} should be written the value of the "Message" parameter

In previous versions, there was no ambiguity as the "message" parameter was the first and it always had to pass (even in the form of "string.Empty"), so now when this parameter is last and empty, I do not see any reason to pass it, and I would expe

[2015-11-13 08:48] senj commented on #641
any news?

[2015-11-13 09:19] emanov opened #1038 "Performance problem when thread number is big"
[NLog.config.txt](https://github.com/NLog/NLog/files/33788/NLog.config.txt)
[Processor.cs.txt](https://github.com/NLog/NLog/files/33789/Processor.cs.txt)
[Program.cs.txt](https://github.com/NLog/NLog/files/33790/Program.cs.txt)

Hello!

I'm developing the app with big number of the long running threads (900-2000). When thread number is big the program has high cpu usage. After profiling the progra

[2015-11-13 10:47] 304NotModified commented on #1038
Thanks for the test program!

We will try to look at this, this weekend, but it's a bit busy, so it could be also next week.

[2015-11-13 10:51] 304NotModified commented on #641
Yes,

we have a plan now:

1. We will fix first Xamarin (see #1009) - this is now for 80% done
2. Then we will fix UAP10  - done for 60%
3. And after that or .Net Core, of PCL.  We will decide then, but PCL has a lot more up-votes: http://nlog.userecho.com/list/44388-general/#module_994254/search/support

Because .Net Core isn't released yet, we find it has less prio.

If you think the .Net Core s

[2015-11-13 14:54] Ekus commented on #741
After updating from NLog + NLog.Extended 3.1 to NLog + NLog.Web 4.0 I had to add

  <extensions>
    <add assembly="NLog.Web"/>
  </extensions>
before my <targets> section. Can it be fixed so we don't need it in the future? It was able to use .Extended assembly without this trick before.

[2015-11-13 15:02] 304NotModified commented on #741
What are the new versions of each component?

Because this is all fixed a long time ago.

[2015-11-13 15:17] Ekus commented on #741
I just used VS 2013's NuGet which provides the latest version by default. I typed "nlog web" and I only see one version, 4.0.0 Creaded by NLog, Id: NLog.Web, published 10/22/1015. It also included NLog    4.0.0 as dependency (which seems to explaint it since I saw mention of it being fixed in 4.0.1..?)
![image](https://cloud.githubusercontent.com/assets/1641673/11149280/b9bac4b6-89ef-11e5-9d77-dc7

[2015-11-13 15:19] Ekus commented on #741
Additionally, the reference says "runtime 2.0" for that NLog.Web version... while for NLog (also 4.0.0) it says runtime 4.0
![image](https://cloud.githubusercontent.com/assets/1641673/11149326/e98ad550-89ef-11e5-9738-52cb71bcb39c.png)

[2015-11-13 15:20] 304NotModified commented on #741
I recommend to upgrade NLog to the latest version. (4.2.0). Thinks are fixed in 4.0.1 but also 4.1.

NLog.web is compatible with all version of NLog 4.0+

[2015-11-13 15:21] 304NotModified commented on #741
That's correct. There is not special build for NLog.Web for .Net 4 (not needed, no benefit). It's .Net3.5+ (which is runtime 2.0)

[2015-11-13 15:26] 304NotModified commented on #1029
Not in details, yet. I first try to get all the input from an issue, and then check the code.

Well I don't have that experience (and we use it form an application which spans a lot of threads and async tasks). If way more faster then just writing to file with standard .Net stuff  (e.g. WriteLine to filestream)

[2015-11-13 15:28] Ekus commented on #741
I see, it makes sense now but it's confusing. Shouldn't just the NLog.Web _nuget_ be updated then? To require 4.0.1+? Or else it will keep resurfacing

[2015-11-13 15:31] Ekus commented on #741
The best thing about NLog is how simple it is but I have recently had hard time spreading among colleagues, with the breaking changes in 4.0 (move from .Extended to .Web) and this bugged autoload version being installed by default on new boxes. In any case thanks for maintaining this great tool!

[2015-11-13 15:38] 304NotModified commented on #741
Well, NLog 4.0 works well with NLog.Web 4.0, but it's not optimal.

When upgrading, it's good practice to upgrade all components to have the optimal experience. With the command line it's really easy:

[code]

Blame Nuget for the annoying dependency resolution, which is really bad. (it takes always the lowest version)

We can upgrade NLog.Web to 4.2.0, but no code is changed in that component, so

[2015-11-13 16:15] jonreis commented on #1030
Julian, thank you very much for taking the time to look at the bugs that I reported. It is much appreciated.

It could be #ifdef'd for those platforms.

[code]

[2015-11-13 16:28] Ekus commented on #741
Yes I agree it should not be required and that the blame is on nuget's side (albeit they must have their reasons and they bring more good than harm anyway ;-) ) but the simplest _pragmatic_ solution would be to either update the NLog.Web _package_ (not sure if you can update package definition without changing its version) or to recompile it with new version and create new package to match.

[2015-11-13 16:40] jonreis commented on #1029
It is certainly great with multiple threads and async tasks. The issue here is the performance when you have multiple processes writing to the same log file. Here is the loop that is run for every message that is logged when you have concurrentWrites = "False". If multiple processes are writing to the same file, it has to open the file exclusively (because Share.None is used). If it fails to do so

[2015-11-13 18:36] mikhail-barg commented on #902
Looks like it! Have you tried it somehow? I'm not sure if it's possible to write a unit-test for a multi-threaded code, that would show stable results.

[2015-11-13 18:52] 304NotModified commented on #902
No I never used the network target. Dunno were to write to.

I will create a RC release this weekend.

[2015-11-13 18:52] 304NotModified commented on #902
Thanks for checking the code!

[2015-11-13 19:09] mikhail-barg commented on #902
We are writing to [Logstash](https://www.elastic.co/products/logstash)

Hope we'll be able to test it next week.

[2015-11-13 19:11] 304NotModified commented on #1030
That's a good idea!

[2015-11-13 22:47] 304NotModified commented on #902
RC is online: https://www.nuget.org/packages/NLog/4.2.1-rc1

[2015-11-13 22:48] 304NotModified commented on #902
I would be great if you could test it :)

Thanks in advance!

[2015-11-15 23:20] 304NotModified commented on #1038
Will be next week, as my laptop is really slow after a Windows update :(

[2015-11-15 23:21] 304NotModified commented on #1030
Was thinking about this:

- If everything wen well, then StringComparer.OrdinalIgnoreCase isn't needed?
- I can run Mono on a Windows system, and .Net in the future on a non-windows...

[2015-11-15 23:24] 304NotModified commented on #1028
Will looks at this upcoming week.

[2015-11-15 23:25] 304NotModified commented on #1030
I believe you of course, but if the unit test isn't failing, well then the code is OK, or the unit test is bad. I really like to fix the unit test before I fix the code (TDD)

[2015-11-15 23:27] 304NotModified commented on #1029
If we just span a lot of threads, isn't that enough? Then I will fix setting the datetime on the filetarget (https://github.com/NLog/NLog/issues/1022)

[2015-11-15 23:32] 304NotModified commented on #1034
We have the following options regarding calling Log(Exception)

1. Only record the exception to ${exception}
2. Only record the exception to ${message}
3. Doing both
4. Your proposal:  ${exception} and title to  ${message}
5. Configurable

Analysis:

- Some people expect 1, some 2.
- 1 is analogous with `Log(exception, string)`,
- 2 is analogous with `Log(object)`.
- I'm not sure about 4, because

[2015-11-16 00:30] jonreis commented on #1029
Hi Julian, it is not a threading issue. It is a multi-process issue. Spinning up threads will not test this functionality. You need to spin up processes.

[2015-11-16 00:37] jonreis commented on #1030
It may be fine without. The function Path.GetFullPath will probably normalize it for you. However; since windows is not case sensitive with respect to the file system, it seems safer to #ifdef the OrdinalIgnoreCase for that platform.

[2015-11-16 00:54] jonreis commented on #1030
For the main issue reported in the bug, using Path.GetFullPath does normalize the directory separators (both for direction and number). eg '/' gets converted to '\' and a double slash: '//' to '\'

[code]

[2015-11-16 07:24] emanov commented on #1038
ok. will wait!

[2015-11-16 10:12] Pyfhon commented on #1034
The problem is that when the option `withException = true` $ {message} output 2 identical message `exception.ToString()`.

To solve this problem, I see two options.
The first - to use a special case for exceptions (not see anything wrong, partly because it is being used as a `logEvent.Exception = ex`).
The second - completely separate calls `Log(exception)` and `Log(object)` in the form of method

[2015-11-16 10:38] UgurAldanmaz commented on #948
Hi @304NotModified
Are they enough that [README.md] (https://github.com/NLog/NLog#contributing) and [CONTRIBUTING.md] (https://github.com/NLog/NLog/blob/master/CONTRIBUTING.md) file for 'How to contribute' section?

[2015-11-16 10:43] UgurAldanmaz commented on #934
Hi @Page-Not-Found
What is final situation of your working on #886 ? Can it fix also this issue?

[2015-11-16 10:45] 304NotModified commented on #1034
Well, to be consistent with `Log(int)` etc

[2015-11-16 10:45] 304NotModified commented on #948
I think that's a good start :)

[2015-11-16 10:55] 304NotModified commented on #934
@UgurAldanmaz

GDC and MDC is done (needs last review), MDLC isn't (failed), so no. But we really need a new MDLC in #886

[2015-11-16 11:08] UgurAldanmaz commented on #934
Thank you @304NotModified I was little busy recently. I will try to write new MDLC.

What is our plan to release next NLog version which needed MDLC?

[2015-11-16 11:11] UgurAldanmaz commented on #948
OK. So, I will take care of it tomorrow. Thank you :)

[2015-11-16 11:20] StuartHemming commented on #977
Nope. Nothing I have tried has got me the stacktrace info I an expecting to see.

[2015-11-16 12:10] serbrech opened #1045 "Handle relative path, or at least warn when detecting one"
When using a relative path in the config as follow :

    <target xsi:type="File" fileName="Logs\myapp.${shortdate}.log" name="file"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />

The expected behavior from the user point of view is always to log in a folder relative to where the application executes.

This can be easily detected and either pro-actively understan

[2015-11-16 12:32] dnlgmzddr commented on #948
@UgurAldanmaz If you need any help let me know.

[2015-11-16 12:45] dnlgmzddr commented on #886
I think one of the best features on NLOG is the wide support of frameworks, so I think we should keep supportihng 4.0.

[2015-11-16 13:01] dnlgmzddr commented on #690
@304NotModified Is there anything else to do in this issue?

[2015-11-16 13:13] 304NotModified commented on #690
Nope, it has been released in 4.2.0, but we forgot the 'fixes' tag, see https://help.github.com/articles/closing-issues-via-commit-messages/

[2015-11-16 13:13] #690 closed

[2015-11-16 13:14] 304NotModified commented on #690
Thanks for the reminder Daniel!

[2015-11-16 13:15] 304NotModified commented on #886
@dnlgmzddr I'm not sure we you are responding to.

[2015-11-16 13:33] 304NotModified commented on #1045
I agree with this. Thanks for the suggestion.

We will fix this, if we can keep this backwards-compatible.

[2015-11-16 13:34] 304NotModified commented on #977
and the pdb is included in your release?

[2015-11-16 13:35] 304NotModified commented on #934
just a 4.x release. So if we can fix the new GDC and MDC (with new names, see #886), and then the new MDLC (need also new name), then I will merge it into 4.3 or 4.4

[2015-11-16 14:38] UgurAldanmaz commented on #948
Thank you @dnlgmzddr What do you think about that "how to get support" section?

[2015-11-16 19:34] grenderk opened #1047 "VariableLayoutRenderer does not work with Custom LogManagers"
Hello

NLog Version 4.2.0

The VariableLayoutRenderer does seem to not work if you use your own custom LogManager. The bug seems to be do using the LogManager to get the configuration file in the Append method:

VariableLayoutRender.cs (line 72-81)
[code]

I have tested changing the call to LogManager to using LoggingConfiguration which seems to produce working results.
[code]

Thanks.

[2015-11-16 19:45] 304NotModified commented on #1047
Thanks for the code! I will test this!

[2015-11-16 19:53] 304NotModified commented on #1047
Too bad it isn't always working:

![image](https://cloud.githubusercontent.com/assets/5808377/11192952/20bce926-8ca4-11e5-8ab8-767fb6dfab63.png)

[2015-11-16 19:58] 304NotModified commented on #1047
It should be

[code]

Can you give me a test case for the "custom LogManager" ? For the unit tests

[2015-11-16 21:06] emanov commented on #1038
Hello!
I see this on my core i5
![nlog900](https://cloud.githubusercontent.com/assets/710570/11194707/b14e528a-8cbe-11e5-98f4-db91d10d6999.png)

Nlog 4.1.2
  <package id="NLog" version="4.1.2" targetFramework="net45" />

Will try 4.2

do you use NLog.config with output to file?

[2015-11-16 21:07] jonbprime opened #1049 "Limit messages per hour (or other time span)"
Would be great if you could specify a limit on the number of emails that will go out in a given period from an Email target. For example, if you the system email you for each error log, and the error is in a tight loop, you don't want to get 1000's of emails.

So you could have a target config parameter like maxEmailsPerHour="20". As soon as 20 emails have been sent in the last hour, the target ig

[2015-11-16 21:08] emanov commented on #1038
The same with 4.2

[2015-11-16 21:09] grenderk commented on #1047
[MyLogManager.cs.txt](https://github.com/NLog/NLog/files/35980/MyLogManager.cs.txt)
[Program.cs.txt](https://github.com/NLog/NLog/files/35983/Program.cs.txt)
[TestApp.nlog.txt](https://github.com/NLog/NLog/files/35984/TestApp.nlog.txt)

Attached is the code I've been using to test with
[test.txt](https://github.com/NLog/NLog/files/35987/test.txt)
and that is the resulting output of the log

[2015-11-16 21:12] 304NotModified commented on #1049
I agree! I thinking it should be a WrapperTarget. I was thinking we have it already, but not one with timing. What do you think?

What happens when the program stops and restarts?

[2015-11-16 21:17] jonbprime commented on #1049
Never used wrappers, but it makes sense since then it could be used by all targets.

When the program restarts (looses it "count") it just resets as if no logs had gone out in the last period. This mechanism is just to stop 1000's of emails from flooding your inbox. If ti's not perfect (loosing count, not exactly 60 minutes, etc), it's OK.

[2015-11-16 21:28] UgurAldanmaz commented on #1049
Is it good idea to keep the count of sent email at the temp file? (Also last sent time.)

[2015-11-16 21:33] 304NotModified commented on #1047
Thanks! It has been added to the test cases :)

[2015-11-16 21:33] 304NotModified commented on #1047
If appveyor is also happy, this will be released with 4.2.1 (soon).

[2015-11-16 21:37] 304NotModified commented on #1049
Yes, I was also thinkiing that.

That would be also possible, but you need write rights etc. I was more curious if resetting was OK.

@jonbprime

Just one other question, to be sure:

- limit is 20
- 1st hour is 25 message are logged
- 2nd hour 5 message are logged
- the first hour we send 20 mails
- what do we send the 2nd hour? 5 of 10? Or configurable?

[2015-11-16 21:40] 304NotModified commented on #1038
I test with your program, no line changed! Only difference that NLog is directly references instead of nuget package. I don't think nuget packages could lead to more CPU ;)

I have a SSD, i7, but's tested on a laptop. (which has already performance issues)

[2015-11-16 21:43] 304NotModified commented on #1038
have you tried changing the values of keepFileOpen  / concurrentWrites?

[2015-11-16 21:48] emanov commented on #1038
I'm using SSD too.
For the test I've used

keepFileOpen="true" concurrentWrites="false"
(it is in the file attached to the first post)

If I cut these settings CPU increase to 55-60%

[2015-11-16 21:50] emanov commented on #1038
Could you send me your project (or binaries for test) to the email?

[2015-11-16 21:52] emanov commented on #1038
Tomorrow will run the test on the server with 16 Opteron core.

[2015-11-16 21:54] 304NotModified commented on #1038
I don't see any file written here. I will fix that first :)

[2015-11-16 21:54] emanov commented on #1038
ok :)

[2015-11-16 21:55] UgurAldanmaz commented on #1049
If we send 20 emails per hour;
First hour, emails ignored (5) that exceed the limit (20).
Second hour, it is the new session. Send until 20.

[2015-11-16 22:01] 304NotModified commented on #1038
![image](https://cloud.githubusercontent.com/assets/5808377/11196121/fb2fa7b8-8cb5-11e5-9088-dab002a9b1fc.png)

[2015-11-16 22:06] 304NotModified commented on #1038
OK confirmed, but now, what to do about it.

Test program is here: https://github.com/NLog/NLog/tree/many-many-thread---and-nice-cpu (src/nlog/NLog.netfx45.sln),

![image](https://cloud.githubusercontent.com/assets/5808377/11196201/797f3656-8cb6-11e5-8d2f-12161eef281e.png)

It seems the lock is a issue. Also I saw a lot of datetime.tostring()'s. I have to go, but I will look further into it. You c

[2015-11-16 22:07] 304NotModified commented on #1049
Maybe that's the best case. Less memory consumption. We van build persistently  in a later phase).

@jonbprime if you agree, please add to NLog.uservoice.com

[2015-11-16 22:16] jonreis opened #1050 "IWcfLogReceiverClient LogReceiverWebServiceTarget.CreateLogReceiver() should be virtual"
NLog 4.2

The virtual method that has been obsoleted is:

        [Obsolete("Ths may be removed in a future release.  Use CreateLogReceiver.")]
        protected virtual WcfLogReceiverClient CreateWcfLogReceiverClient()

The new method that is supposed to be used instead is as follows, and therefore needs to be made virtual so it can, in fact, be overridden.

[code]

[2015-11-16 22:39] emanov commented on #1038
Removing payment.Date.ToString("yyyy-MM-ddTHH:mm:ss.fffzzzz") change nothing.
The same result with
            logger.Info("TL_ID={0}");
instead of huge string with many parameters.
Honestly the whole producer/consumer part can be removed. So the program will have 900 running threads that output 4 string with pause.

[2015-11-16 22:44] 304NotModified commented on #1050
Agree,  will fix it.

[2015-11-16 23:01] Pyfhon commented on #1034
1

[2015-11-16 23:09] UgurAldanmaz commented on #1049
Why did you renamed the title with `messages`? Limit will contain all type of message or just email? :)

[2015-11-17 00:37] epignosisx commented on #1038
Just for comparison here are the results in a third PC (i5, SSD)

![image](https://cloud.githubusercontent.com/assets/697377/11199153/1ec61e54-8c99-11e5-910c-80b9471f3ee7.png)

I did some CPU profiling and didn't find anything interesting. Most of the time was spent waiting:

![image](https://cloud.githubusercontent.com/assets/697377/11199195/7b2d7a2a-8c99-11e5-8b1f-2e2a9aa8cfaf.png)

[2015-11-17 01:14] epignosisx opened #1051 "Memory Allocations in BaseFileAppender"
While profiling #1038 I noticed that this [line](https://github.com/NLog/NLog/blob/master/src/NLog/Internal/FileAppenders/BaseFileAppender.cs#L163) was incurring in three memory allocations:

1- boxing of the parameter boolean allowFileSharedWriting
2- creating the object[] args.
3- the boxed boolean is converted to string when used in string.Format

This line of code is executed every time a mess

[2015-11-17 08:15] emanov commented on #1038
The interesting thing here is that 9 process with 100 thread per 1 process don't use cpu so much.

[2015-11-17 10:09] 304NotModified commented on #1038
Thanks for testing @epignosisx

[2015-11-17 11:53] 304NotModified commented on #1049
Typo, should be "We can"

Because this behavior is better to have it generic (not only email) - the WrapperTargets are created for that purpose.

[2015-11-17 11:58] 304NotModified commented on #1051
I know boxing can take some performance. But is this not a problem with all the Loggers ATM? (e.g.

[code]

(then we should fix it also there)

[2015-11-17 14:36] GCClaudio opened #1052 "Error: System.TypeInitializationException"
Hello to all,
I've tried to define a database target, but iI've always the error: System.TypeInitializationException.
In the NLog. config with the follow simply target:
 <target xsi:type="Database" name="db"> I've the error, but with no attribute name, like:
 <target xsi:type="Database">
it's ok.

My really target config is:

<target xsi:type="Database" name="db"
      connectionString="Data Sourc

[2015-11-17 15:09] epignosisx commented on #1051
Yes, it is a problem overall. However, since this is the internal logger I thought that removing this method call was not a big deal and could save a few allocations.

I don't see a way to go around the boxing problem. I looked into having generic arguments overloads and calling `ToString()` on them but that doesn't work well with the existing **params object[] args** because if an array is used i

[2015-11-17 15:43] jgodfrey opened #1053 "Load different NLog configuration file at runtime"
I have a NLog-based .NET application that installs with a number of "configuration-related" files, including app.exe.config, nlog.config, and a handful of domain-specific XML config files.

At some point, after the application is running, I'd like to completely reconfigure it by loading a new set of configuration files from a completely different folder. I've been able to successfully reload all c

[2015-11-17 19:01] 304NotModified commented on #1053
Yeah sure that could be done :)

On mobile short in short:

Create a new http://nlog-project.org/documentation/v4.0.0/html/M_NLog_Config_XmlLoggingConfiguration__ctor.htm

Assign it to LogManager.configuration

[2015-11-17 19:07] 304NotModified commented on #1051
But isn't the case nr 2?

(yes `params` is evil with overload resolution)

[2015-11-17 19:10] 304NotModified commented on #1052
Can you check the inner exception? That one tells the cause of this. (some static field which crashes)

[2015-11-17 20:07] jgodfrey commented on #1053
Great - thanks for the tip.  Unfortunately, I'm currently using version 2.01.  Looking there, I don't see any equivalent object.  Is it possible in 2.01, or do I need to look at upgrading?

Thanks again.

[2015-11-17 20:19] 304NotModified commented on #1053
http://nlog-project.org/documentation/v2.0.1/

But would recommend updating. We don't support 2 anymore and some bugs with (reloading) config files are fixed in NLog 4.

Some info for upgrading: http://nlog-project.org/2015/06/09/nlog-4-has-been-released.html

[2015-11-17 21:05] jgodfrey commented on #1053
OK - I've upgraded the project to 4.2.0 and I've managed to reload my config data using the mechanism mentioned above. So, problem solved!

Thank you for your assistance.

[2015-11-17 21:05] #1053 closed

[2015-11-17 21:06] 304NotModified commented on #1053
Have fun with the new release :)

[2015-11-17 22:15] dnlgmzddr commented on #980
@304NotModified whrn you mention

* only color on status

What exactly do you mean?

[2015-11-17 22:20] 304NotModified commented on #980
Well it should support that, and probably not more than that.

[2015-11-17 22:21] 304NotModified commented on #980
So change color of the output depending of the level (status)  of a event.

[2015-11-17 23:35] epignosisx commented on #1051
Sorry, I didn't get what you mean by:

[2015-11-18 14:30] GClaudio commented on #1052
HI, you can see the attached file.

[NLog_Error.docx](https://github.com/NLog/NLog/files/37933/NLog_Error.docx)

Thank's,
Claudio

[2015-11-18 14:52] 304NotModified commented on #1052
So the error is: layoutrender cannot found 'appsetting`.

You need also NLog.extended for that (see [wiki](https://github.com/NLog/NLog/wiki/Layout-Renderers)).  Just install the latest https://www.nuget.org/packages/NLog.Extended/ - no additional config is needed.

Ps. I removed your docx with a screenshot

[2015-11-18 15:38] 304NotModified commented on #902
Did you have time to check this @mikhail-barg ?

[2015-11-18 16:06] mikhail-barg commented on #902
Sorry, I haven't got time yet ( Will try to force it tomorrow!

[2015-11-18 16:44] 304NotModified commented on #902
:+1:

[2015-11-18 16:48] #1047 closed

[2015-11-18 17:23] GClaudio commented on #1052
Hello,

ok now it's running,r, thank's !

But when a call Log, after an error (try catch), I haven't the row in my
table db, which my mistake ?

I didn't found some examples for windows form with database target....

Claudio

Il 2015-11-18 15:52 Julian Verdurmen ha scritto:

--

CLAUDIO ORLANDI

 IT Software

Indicom s.r.l. - Via Carnevali 39 - 20158 Milano

E-MAIL: claudio.orlandi@indicom.biz

WE

[2015-11-18 17:38] 304NotModified commented on #1052
Please check the internal log: https://github.com/NLog/NLog/wiki/Internal-Logging

Everything is modular, so there are no special requirements to combine Windows.Forms + Database Target. This should work.

[2015-11-18 18:53] 304NotModified commented on #1051
I mean with the 2nd case:

![image](https://cloud.githubusercontent.com/assets/5808377/11250685/f511f9b6-8e2d-11e5-90ce-fb54d9670643.png)

[2015-11-18 18:54] 304NotModified commented on #1030
Yes I also think this is normalized by path.GetFullPath.

Because if I wrote a normalize method, I would use `GetFullPath` ;)

[2015-11-18 18:54] 304NotModified commented on #1030
But so, there is no bug?

[2015-11-18 19:20] #1050 closed

[2015-11-18 19:20] 304NotModified commented on #1050
fixed, release ETA: within a week

[2015-11-18 19:34] 304NotModified commented on #923
Closing this due to inactivity. If you still experiencing problems, just let us know.

[2015-11-18 22:41] epignosisx commented on #1051
Oh yes. That should have called ToString(), But I was actually showing that having generic arguments would not work well with params object[] overload.

[2015-11-18 22:43] 304NotModified commented on #1051
This is good news as the Logger has already the methods.

I'm curious what the results are for `T[] ` (instead of `T`

[2015-11-18 22:53] epignosisx commented on #1051
Funny. Ayende just posted about [this]
(http://ayende.com/blog/172545/the-hidden-costs-of-allocations?Key=08667b02-cf92-4cb5-bb3e-583509653019&utm_source=feedburner&utm_medium=twitter&utm_campaign=Feed%3A+AyendeRahien+%28Ayende+%40+Rahien%29)

[2015-11-18 23:02] 304NotModified commented on #1051
Nice post. I think the bad creation of arrays is also in the core logger.

[2015-11-18 23:03] 304NotModified commented on #1051
https://github.com/NLog/NLog/blob/master/src/NLog/Logger.cs

[2015-11-18 23:04] 304NotModified commented on #1051
https://github.com/NLog/NLog/blob/master/src/NLog/Logger.cs#L288

[2015-11-18 23:07] 304NotModified commented on #1051
Not sure to I understand the full blog. This can't be prevented? Is that the conclusion? (well only in client code)

[2015-11-18 23:51] 304NotModified commented on #741
@Ekus went everything fine with upgrading?

[2015-11-19 11:03] emanov commented on #1038
Yet another thing. The problem is for Console target too. So I doubt the problem is in the BaseFileAppender only.

[2015-11-19 11:04] GClaudio commented on #1052
Hi Julian,

it works perfectly !! With internal log I found some error on NLog db
parameters definition

Thank You very much.

Claudio

Il 2015-11-18 18:38 Julian Verdurmen ha scritto:

--

CLAUDIO ORLANDI

 IT Software

Indicom s.r.l. - Via Carnevali 39 - 20158 Milano

E-MAIL: claudio.orlandi@indicom.biz

WEB: www.indicom.biz [3] - www.fatturafacile.com [4]

Links:
------
[1] https://github.com/N

[2015-11-19 11:18] davidkaya commented on #1007
@304NotModified Hi, is there any estimate for the Xamarin iOS? I would like to use it for remote logging. If you need help with testing on iOS, I can give it a try.

[2015-11-19 12:37] 304NotModified commented on #1007
Hi @davidkaya ,

I can release a new alpha for 4.3 this week with Xamarin iOS. Some tests would really help us.

[2015-11-19 12:38] 304NotModified commented on #1007
This branch is already building for iOs (and Android)

https://github.com/NLog/NLog/tree/xamarin5

See https://ci.appveyor.com/project/nlog/nlog/branch/xamarin5

[2015-11-19 12:41] 304NotModified commented on #1052
OK closing this one :)

Thanks for the feedback!

[2015-11-19 12:41] #1052 closed

[2015-11-19 12:45] 304NotModified commented on #1038
Is it the console or the colored-console target?

It would be nice if it's the console target, because the will make the test case smaller.

We're a bit stuck on this, but if you can make the test case smaller (PR on https://github.com/NLog/NLog/tree/many-many-thread---and-nice-cpu), that we shall test it again.

[2015-11-19 12:47] davidkaya commented on #1007
Ok! As soon as it is released as an alpha for 4.3, I will test it.

One more question:
Is some kind of "log caching" planned?
Use case:
When an application wants to log something to remote target, but the network/endpoint is not available. It should cache the logs locally and send them as soon as the network/endpoint is available.

[2015-11-19 12:53] 304NotModified commented on #1007
you can try https://github.com/NLog/NLog/wiki/RetryingWrapper-target

but it was not designed for long timeouts

[2015-11-19 13:33] emanov commented on #1038
Sure, I'll make it tomorrow.

[2015-11-19 14:59] emanov commented on #1038
Could you get changed sources from the my cloud and insert into the project?
https://yadi.sk/d/R0rdYpPFkaEwV
I have some problem with creating correct pull request

[2015-11-19 15:13] 304NotModified commented on #1038
Please restore your branch @emanov , then I will create the PR.

[2015-11-19 15:15] 304NotModified commented on #1038
for the correct Pr, just choose the correct branch after PR (Xamarin5 here as example)

![image](https://cloud.githubusercontent.com/assets/5808377/11274360/aa080e5a-8ed8-11e5-9820-741cc14362da.png)

![image](https://cloud.githubusercontent.com/assets/5808377/11274354/a391a54a-8ed8-11e5-861c-971c3245d0cb.png)

[2015-11-19 15:35] emanov commented on #1038
restored

[2015-11-19 15:41] 304NotModified commented on #1038
Do you need to push some stuff? (to Github)

![image](https://cloud.githubusercontent.com/assets/5808377/11275109/53a04ee8-8edc-11e5-973a-9b337b5bc24e.png)

[2015-11-19 15:48] emanov commented on #1038
Just created pull request from the web interface.

[2015-11-19 18:56] 304NotModified commented on #1007
@davidkaya

https://www.nuget.org/packages/NLog/4.3.0-alpha2

Please let us know how you experience NLog on iOs Xamarin!

[2015-11-19 18:57] epignosisx commented on #1051
I think that's his conclusion. There is no way to go around this allocations.

[2015-11-19 18:57] #1051 closed

[2015-11-19 20:19] 304NotModified commented on #1051
OK Thanks for the info :)

[2015-11-19 20:21] 304NotModified commented on #950
@epignosisx Ever seen this bug?

[2015-11-19 20:46] 304NotModified commented on #902
Will close this when testing is done. (and then I will release 4.2.1 :))

[2015-11-19 20:55] 304NotModified commented on #1029
I think the `lock` is blocking too much:

![image](https://cloud.githubusercontent.com/assets/5808377/11284076/31e3d852-8f08-11e5-9459-3ab35cb56c91.png)

before:

![image](https://cloud.githubusercontent.com/assets/5808377/11284061/1729ed62-8f08-11e5-9a83-6d2bbab6f9e7.png)

after:

![image](https://cloud.githubusercontent.com/assets/5808377/11284070/25a6543e-8f08-11e5-9165-f11fcbf6663d.png)

sure,

[2015-11-19 21:07] 304NotModified commented on #1038
I think the `lock` is blocking too much:

![image](https://cloud.githubusercontent.com/assets/5808377/11284076/31e3d852-8f08-11e5-9459-3ab35cb56c91.png)

before:

1% cpu at console

![image](https://cloud.githubusercontent.com/assets/5808377/11284061/1729ed62-8f08-11e5-9a83-6d2bbab6f9e7.png)

after:

almost every cpu cycle (96%) is used for the console itself.

![image](https://cloud.githubusercon

[2015-11-19 21:07] 304NotModified commented on #1029
I can reproduce it:

archived log file:

![image](https://cloud.githubusercontent.com/assets/5808377/11284426/edca9a46-8f09-11e5-86b5-c65a59939367.png)

new log file after archive:

![image](https://cloud.githubusercontent.com/assets/5808377/11284433/f6166f18-8f09-11e5-9740-9eed63ffe823.png)

[2015-11-20 19:06] mikhail-barg commented on #902
Well, we have managed to test the new code finally. The sad part is that we've lost the test setup we were using to investigate the initial issue (after all, it was more than two months ago) and we havent' had time to re-write it fully. Still we've run some simple tests, and it looks that everything works more or less as expected.

Compared to previous version execution of some huge logging consum

[2015-11-20 20:12] 304NotModified commented on #902
Big thanks!!  (FYI I always put also my test code to version control)

That's good news :D. This is compared to 4.1.2?

[code]

Is this really the correct config? This won't discard anything? (I think the property called maxConnections)

I think the stacktraces are when the deadlock happens?

Agree! We would be happy to fix this in a next release. I found some useful info:
https://www.interact-sw.

[2015-11-20 20:13] 304NotModified opened #1057 "Update wiki for 4.2.1"
- [x] network target #1031.  https://github.com/NLog/NLog/wiki/Network-target

[2015-11-20 20:31] UgurAldanmaz commented on #948
@304NotModified Do we need a page for [Support & contributing guidelines] (https://github.com/NLog/NLog/blob/master/CONTRIBUTING.md) or just give a link is enough?

[2015-11-20 20:43] 304NotModified commented on #948
I not sure how we will set up this FAQ, but I was thinking to add them on a new page on the site. It will be all text (with some links)

[2015-11-20 20:49] UgurAldanmaz commented on #948
OK. I thought so. It would be more clear and effective.

[2015-11-20 21:02] 304NotModified commented on #948
Maybe we should first focus which questions to add and then the answers? What do you think?

[2015-11-21 11:29] UgurAldanmaz commented on #948
Yes we should. However, these questions which you wrote are good start point.

There are [116 issues that labeled as question.] (https://github.com/NLog/NLog/issues?utf8=%E2%9C%93&q=label%3Aquestion+) I think that we can analyse them and make a list from the most asked questions.

[2015-11-21 12:08] 304NotModified commented on #948
good idea!

[2015-11-21 12:16] UgurAldanmaz commented on #948
Thanks. To prepare FAQ will take a long time than I thought :) I will do my best.

[2015-11-21 14:11] 304NotModified commented on #1011
done

* https://github.com/NLog/NLog/wiki/var-Layout-Renderer
* https://github.com/NLog/NLog/wiki/Configuration-file#variables

[2015-11-21 14:11] #1011 closed

[2015-11-21 14:27] #1057 closed

[2015-11-21 14:49] 304NotModified commented on #902
I think this is well tested, so I released 4.2.1

[2015-11-21 14:49] #902 closed

[2015-11-21 14:59] 304NotModified commented on #1050
NLog 4.2.1 has been released! https://www.nuget.org/packages/NLog/4.2.1

[2015-11-21 15:00] 304NotModified commented on #1047
NLog 4.2.1 has been released! https://www.nuget.org/packages/NLog/4.2.1

[2015-11-21 15:00] 304NotModified commented on #902
NLog 4.2.1 has been released! https://www.nuget.org/packages/NLog/4.2.1

[2015-11-22 10:37] mikhail-barg opened #1058 "Deadlock in NetworkTarget"
This issue was initially found during testing of #902. I'm reposting it as a separate issue.

What we have noticed though is some deadlock condition happening both with previous and curent code. The setup is like following:

config:
[code]

test program
[code]

Call stacks at the moment of deadlock for the 4.2.0:
[code]

call stacks at the moment of deadlock for the 4.2.1:
[code]

[2015-11-22 23:57] dnlgmzddr commented on #948
@UgurAldanmaz Sorry for commenting so late, regarding "how to get supoprt" section I think I will be nice to separete it from the contributibution part.

How are you going to filter the questions? If you want we can have some sort of google docs and see wich ones should en upin the FAQ. Let me know.

[2015-11-23 07:03] UgurAldanmaz commented on #948
No problem @dnlgmzddr
Yes, separating the support part from the contribution part is nice.

Do you mean that we can export all question here to a google doc?

[2015-11-23 18:26] dnlgmzddr commented on #948
Yes, using something like [this](https://gist.github.com/tkarpinski/2369729), but only if it helps the process, I think It will be nice to have a discussion around wich issues will be included in the FAQ.

[2015-11-23 20:16] UgurAldanmaz commented on #948
I like the idea! Discussion will be useful. Code you gave is in Ruby. Need to translate it in csharp.
I am going to read and evaluate it. Thank you @dnlgmzddr

[2015-11-23 20:38] 304NotModified commented on #948
Why do we need to translate things to C#?

We just need to write a FAQ? We can just scan for common questions in the GitHub issue list?

[2015-11-23 20:48] UgurAldanmaz commented on #948
You are right. I will do so.

[2015-11-23 21:42] UgurAldanmaz commented on #948
Here are some issues. We can determine the subjects by evaluating them.

[How to use formatting on custom variables? ] (https://github.com/NLog/NLog/issues/868)
[How to configure NLog to get the current user name (Environment.Username) ] (https://github.com/NLog/NLog/issues/897)
[How to register async target programmatically?] (https://github.com/NLog/NLog/issues/685)
[How to configure a file-targ

[2015-11-24 10:28] zwy2014 opened #1059 "How to choose Target?"
I studied the source code,But I am a little in doubt.Are written to the log of the last call method Write, here has a note:Writes log event to the log target. Must be overridden in inheriting classes.   My question is how to choose the Subclass of Target?

[2015-11-24 11:21] UgurAldanmaz commented on #1059
Hi @zwy2014
What do you mean by "Subclass of Target". You mean that target type? Database, file, email etc...
If so, [target wiki page] (https://github.com/NLog/NLog/wiki/Targets) can help you.

[2015-11-24 11:35] 304NotModified commented on #1059
Or maybe you are looking for the `<rules>` in the configuration, see https://github.com/NLog/NLog/wiki/Configuration-file

[2015-11-25 00:10] Page-Not-Found commented on #1016
Will you be having time to PR and push this in 4.3? if yes I can create PR for pushing this change into the master branch.

[2015-11-25 01:18] zwy2014 commented on #1059
Thanks @UgurAldanmaz @304NotModified , I solved the problem,I should learn from these documents more carefully

[2015-11-25 01:18] #1059 closed

[2015-11-25 06:04] 304NotModified commented on #1016
Yes I have. :)

[2015-11-25 19:40] epignosisx commented on #1014
Closing as feature has been implemented and merged in #1041

[2015-11-25 19:40] #1014 closed

[2015-11-25 19:46] 304NotModified commented on #1014
Thanks!

[2015-11-25 21:50] 304NotModified commented on #888
Closing this due inactivity

[2015-11-25 21:50] #888 closed

[2015-11-25 21:51] 304NotModified commented on #888
We cannot fix this without more info.  Feel free to respond if the problem is still there.

[2015-11-25 23:15] 304NotModified commented on #275
As we need system.web for this, we will implement this in NLog.Web

If everything works as expected, the layout renderer can be added with the same name to NLog.Web.  It should overwrite the one from core. (double check that).

Steps:
- [ ] Create a subclass of the current layout renderer in NLog.Web, same name, different namespace.
- [ ] Implement proposed codde
- [ ] Test with unit test in NLog.

[2015-11-27 03:40] theonlylawislove commented on #641
CoreCLR is now RC1, which is "go-live". It is at a good state to start switching over.

[2015-11-27 08:48] 304NotModified commented on #641
Can you help with porting NLog?

[2015-11-27 08:49] theonlylawislove commented on #641
Would you be willing to change the build system to use dnx ```project.json```? It is a big change from typical ```.proj``` in terms of development, deployment, etc.

[2015-11-27 09:57] 304NotModified commented on #641
I think we need it for coreCLR? Or is it optional?

It's also unknown to me if we an use `project.json` for older/other frameworks (.Net 3.5, silverlight, Xamarin Android etc)

[2015-11-27 15:37] theonlylawislove commented on #641
Yes, you can target any runtime.

Refer to JSON.NET's [project.json](https://github.com/JamesNK/Newtonsoft.Json/blob/master/Src/Newtonsoft.Json/project.json) file.

[2015-11-27 15:46] 304NotModified commented on #641
Thanks @theonlylawislove ,

As you have noticed, we haven't any experience with the new core platform, yet.

To get some experience, I will convert first https://github.com/UniversalCharsetDetector/ude to CoreCLR / PCL. This is a small library which should be easily ported.

[2015-11-27 15:48] theonlylawislove commented on #641
Awesome!

My email is hooked up to Google Hangouts if you need help with anything.

[2015-11-27 15:49] 304NotModified commented on #641
Thanks for the help!

[2015-11-27 15:50] 304NotModified commented on #641
@theonlylawislove
one question already, do I need to refer the project.json in the .sln file and drop the csproj?

[2015-11-27 15:54] theonlylawislove commented on #641
The .sln file now doesn't reference project.json and global.json are ultra portable methods for project layout. If you'd like to use visual studio, be sure to use visual studio to create the solution and library projects, because it will create a .sln file that references the new ".xproj" files.

I'm not sure if you can add the .xproj files to any .sln. I'd start from scratch with the .sln that th

[2015-11-27 15:58] 304NotModified commented on #641
Which solution/project template do I need?

(no hangouts yet)

[2015-11-27 16:00] theonlylawislove commented on #641
Class Library (Package)

Make sure you have the latest RC of ASP.NET 5 installed.
https://get.asp.net/

[2015-11-27 16:51] 304NotModified commented on #641
I tried to first run build a PCL (Class Libary (Portable), but I fails every time to build on AppVeyor. Any idea why?

https://github.com/UniversalCharsetDetector/ude/tree/pcl-notests

https://ci.appveyor.com/project/304NotModified/ude/history

[2015-11-27 17:06] theonlylawislove commented on #641
Does it build in Visual Studio?

I personally haven't setup and CI build yet. I think you will need to use dnx to publish though.

https://github.com/aspnet/Home/wiki/DNX-utility

[2015-11-27 17:18] 304NotModified commented on #641
Yes, it builds in VS2015, but not with commandline msbuild also.

We need definitely CI for NLog

[2015-11-27 19:32] theonlylawislove commented on #641
Take a look at the [build.ps1](https://github.com/JamesNK/Newtonsoft.Json/blob/master/Build/build.ps1) for Json.NET, particularly the [DnxBuild](https://github.com/JamesNK/Newtonsoft.Json/blob/master/Build/build.ps1#L207) function. It looks like they are using a mix between MSBuild and Dnx, but I don't think you have to.

When it comes to AppVeyor, I'd recommend using local scripts to do the build

[2015-11-27 20:41] dmitry-ra commented on #641
Hope this helps: build scripts for "Class Library (Package)" project type (beta 8, yet):

Appveyor (Windows + MyGet auto-deploy)
https://github.com/fajro-net/FlexTimer/blob/b50b993f1573c338f4567bfaee659122218a63d2/appveyor.yml
https://github.com/fajro-net/FlexTimer/blob/b50b993f1573c338f4567bfaee659122218a63d2/build.cmd

Travis CI (Linux & OS X) - install DNX and run tests
https://github.com/fajro

[2015-11-27 21:35] 304NotModified commented on #641
Thanks guys!

I see that dnxcore is build with msbuild is build.ps1. That's the first step,  after that I try dnxbuild

[2015-11-28 21:28] 304NotModified commented on #1058
Useful info:

https://www.interact-sw.co.uk/iangblog/2004/03/23/locking

http://www.interact-sw.co.uk/iangblog/2004/04/26/yetmoretimedlocking

[2015-11-28 21:30] 304NotModified commented on #1058
aren't we just missing [monitor.release](https://msdn.microsoft.com/en-us/library/system.threading.monitor.exit(v=vs.110).aspx) here? (also at `AsyncRequestQueue`)

[2015-11-28 21:41] 304NotModified commented on #1058
I think the scope of the `lock` is wrong, or the object (`lock` and `wait` on same object)

https://github.com/NLog/NLog/blob/master/src/NLog/Targets/NetworkTarget.cs#L274

[2015-11-28 21:41] 304NotModified commented on #1058
Can you test that @mikhail-barg ?

[2015-11-29 22:57] 304NotModified commented on #943
useful info:
- https://msdn.microsoft.com/en-us/library/mt185490.aspx

[2015-11-29 23:23] 304NotModified commented on #943
90% done

[2015-11-30 10:07] TheMetalMonkey opened #1065 "NuGet package file versions"
I have just encountered a deployment issue caused by NLog. We use an msi installer produced with wixtoolkit. Upgrade installs require increasing file version number's.

Version 4.2.1 has File Version 4.0.1251.0, while 4.2.0 has File Version 4.2.0
In all previous versions, the File Version matched the release version number. I.e. Version 4.2.0 has File Version 4.2.0

[2015-11-30 11:28] 304NotModified commented on #1065
Thanks for reporting this issue.

I never create installers. Can you tel me what goes wrong when executing the installer?

And do you need a new release or can you work around the problem?

[2015-11-30 22:48] 304NotModified opened #1067 "Fix unstable test (InternalLoggerTests.TimestampTest)"
See log
https://ci.appveyor.com/project/nlog/nlog/build/4.0.1299

[2015-11-30 22:51] UgurAldanmaz commented on #865
Hi @AKealey .
I tried to reproduce it. But encounter another problem.

To be sure that everything works, I added the file target to the configuration. File target not works when AspNetTrace and File Target config exist together.
When I remove the AspNetTrace target from config, file target does works.
Did you use another target?

BTW, there is no NLog version 4.0.30319 and NLog.Web version 2.0.507

[2015-11-30 22:56] UgurAldanmaz commented on #1002
I have no time unfortunately. I am working on another issue.

Is there anybody to look this?

[2015-12-01 07:29] Steven-6tm commented on #1002
@304NotModified This will be difficult for me to give you that demo, but I will try to give you a log with the 4.2.0 version.

[2015-12-01 09:15] AKealey commented on #865
Hi.
 Sorry, its NLog version 4 (runtime version 4.0.30319) and NLog.Web version 2.0 (runtime version 2.0.50727).
Unfortunately the project has changed quit a bit since then and I wont be able to rollback the project to test it.

What I do remember is it was only the <targets async="true"> shorthand hat caused empty traces (as opposed to the full declaration).

________________________________
From

[2015-12-01 12:18] 304NotModified commented on #865
What are the version is NuGet?

[2015-12-01 12:18] 304NotModified commented on #1002
@Steven-6tm  that would be great!

[2015-12-02 08:19] Bidou44 opened #1069 "High CPU usage with async (with timeToSleepBetweenBatches="0")"
I have the problem that the CPU has 20-30% usage all the time.
To reproduce the problem, you can simply create a project with just a Log statement and the following configurations:

    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
      <targets>

            <target name="Database" xsi:type="Database">

[2015-12-02 08:28] Bidou44 commented on #1069
Changing timeToSleepBetweenBatches to "100" seems to fix the problem....
Not sure if this is a bug ?!

[2015-12-02 08:51] 304NotModified commented on #1069
Hi,

I don't think this is a bug, because you don't give the CPU any rest when setting `timeToSleepBetweenBatches` on zero. Default is 50 I see

[2015-12-02 09:18] AKealey commented on #865
NLog version as viewed in Nuget is 4.0.1

________________________________
From: Julian Verdurmen <notifications@github.com>
Sent: 01 December 2015 12:18
To: NLog/NLog
Cc: Andrew Kealey
Subject: Re: [NLog] empty trace.axd message when wrapped in async="true" (#865)

What are the version is NuGet?

-
Reply to this email directly or view it on GitHub<https://github.com/NLog/NLog/issues/865#issuecomm

[2015-12-02 09:56] UgurAldanmaz commented on #865
Thanks @AKealey I will test again with [latest NLog version] (https://www.nuget.org/packages/NLog/4.2.1). Because maybe this problem does not exist anymore.
I will try to solve it in the development branch, if still exist.

[2015-12-02 13:04] AKealey commented on #865
Thanks!

I have also been informed by a colleague who had the same issue a while back that it looks like it tries to write the log to the wrong thread. Although he was unable to diagnose it fully.

________________________________
From: Ugur Aldanmaz <notifications@github.com>
Sent: 02 December 2015 09:56
To: NLog/NLog
Cc: Andrew Kealey
Subject: Re: [NLog] empty trace.axd message when wrapped in a

[2015-12-02 16:34] JueSte opened #1070 "UserStackFrame wrong when logger wrapped in composition"
Our wrapper uses a composition and it works fine with Nlog 3.1
I think this is related to #541

This unit test should explain the issue:

[code]

[2015-12-02 20:44] 304NotModified commented on #1070
Thanks for the unit test!

I will test this in the latest version.

This one has been fixed in 4.0

[2015-12-02 21:01] 304NotModified commented on #1070
- `When_Wrapped_Ignore_Wrapper_Methods_In_Callstack`: succeeds
- `When_WrappedInCompsition_Ignore_Wrapper_Methods_In_Callstack`: fails (second assert)

stacktrace 1:
[code]
stacktrace 2:

[code]

[2015-12-02 21:37] 304NotModified commented on #1070
difficult one, as we now record the last call in user code (`MyWrapper.InternalLog`), while in the test case the first call is expected (`CallSiteTests.When_WrappedInCompsition_Ignore`).

I have a fix that succeeds on both tests, but other unit test fail then.

So I think so that the expectations are incorrect. Do you agree? The first call can never work as this the `main()` method in a console pr

[2015-12-02 21:46] TheMetalMonkey commented on #1065
The wix toolkit uses the assembly 'File Version' number to determine which
is the latest version of a file (to support patching updates etc).

The installer works fine with a fresh install. On an upgrade install, the
4.2.0 NLog was removed, however the 4.2.1 (which was versioned as 4.0....)
was not put in the target directory. NLog dll was completely missing
causing my service and application to c

[2015-12-02 21:50] 304NotModified commented on #1065
OK thanks for the info.

I'm thinking about releasing a 4.2.2.

[2015-12-02 21:54] TheMetalMonkey commented on #1065
Thanks.

[2015-12-02 22:47] 304NotModified commented on #1065
This has been fixed. New file version is 4.2.2.1251. https://www.nuget.org/packages/NLog/4.2.2

[2015-12-02 22:47] #1065 closed

[2015-12-02 23:11] 304NotModified commented on #934
https://github.com/NLog/NLog/pull/1060 has been merged to branch "Overhaul-contexts".

[2015-12-02 23:12] 304NotModified commented on #886
https://github.com/NLog/NLog/pull/1060 has been merged to branch "Overhaul-contexts".

[2015-12-03 08:55] UgurAldanmaz commented on #934
So we are ready to work on MDLC? We discussed and planned [here](https://github.com/NLog/NLog/pull/998#issuecomment-158677208)

[2015-12-03 08:57] JueSte commented on #1070
I can do a workaround with `LogManager.AddHiddenAssembly()` and our wrapper will continue to work. Thank you for this tip.

However my expectation how the `wrapperType` parameter works is this:
I pass the type of the first class which counts as `logger` for me and I don't want any method calls that appear in the call stack after this class influence the call site log entry.
I don't expect that it

[2015-12-03 12:31] 304NotModified commented on #934
Yes we can start :)

[2015-12-03 14:23] 304NotModified commented on #1070
I this case it unit test (2nd call) it is `CompositeWrapper` ? It should be the fist call after the wrappertype? (maybe you are right, not sure)

[code]

[2015-12-03 15:25] JueSte commented on #1070
Yes that is what i would expect.

[2015-12-03 15:32] 304NotModified commented on #1070
OK Thanks! :)

I will check this again, probably this weekend.

[2015-12-03 15:37] UgurAldanmaz commented on #934
So who will do? [I guess I have interfered by mistake in the last discussion :)] (https://github.com/NLog/NLog/pull/998#issuecomment-158686656)
However, it seems that I will do based on what we talked at here :)

[2015-12-03 15:44] 304NotModified commented on #934
Let's chat on gitter for that :)

[2015-12-03 20:02] UgurAldanmaz commented on #865
Hi @AKealey

I have produced the error.

My test code:
[code]

When using the `async="true"` shorthand, I am getting this result:
![shorthand2](https://cloud.githubusercontent.com/assets/5686267/11571737/82323728-9a06-11e5-8365-cacad0f76e46.PNG)
You said for this case that:

I want to be sure if I understand you correctly. Because you said *remains empty*. But in my test result, there is nothing.

[2015-12-03 23:23] varunkumarmnnit opened #1071 "Performance FileTarget (10 million messages)"
Hello I have recently started using Nlog .I am getting a serious performance issue with Nlog .Bleow is my code
Programm.cs

[code]

App.config

[code]

.You can see above I am using async way also to genearte the logs .I am generating
141Mb file and its taking
503537.2786ms which is very high if I write a simple program to write same  thing in a file with normal file io operations .(i have generat

[2015-12-04 09:08] AKealey commented on #865
Yes, that seems to be the issue I was having. By empty I mean no data presented, as if nothing happened.

But it looks like you can reproduce the same problem.

________________________________
From: Ugur Aldanmaz <notifications@github.com>
Sent: 03 December 2015 20:02
To: NLog/NLog
Cc: Andrew Kealey
Subject: Re: [NLog] empty trace.axd message when wrapped in async="true" (#865)

Hi @AKealey<https

[2015-12-04 10:12] UgurAldanmaz commented on #865
Thank you @AKealey. As we encounter the same problem, I can try to solve it clearly :)

[2015-12-04 12:59] 304NotModified commented on #723
note to others: this has been discussed on the chat.

The proposal of @Page-Not-Found  by including the javascript serializer code from coreFX is the best one :)

[2015-12-04 15:46] GClaudio opened #1072 "Fire NLog event"
Hello to all,
this isn't an issue but an help request.
I need to activet Nlog event, to intercept when it writes an error or a trace or an info (any level action), but i don't know how do it.
Is the LogEventInfo the class to use ? I watched into forum, but i didn't find anything (or better i didn't understand very well).
Could You help me or send me a bit of sample code, please ?
Thank's very much

[2015-12-04 16:40] 304NotModified commented on #1072
Hey!

Please check the tutorial: https://github.com/NLog/NLog/wiki/Tutorial

No need to create an instance of logeventinfo.

If you have further questions, let me know.

[2015-12-04 16:42] 304NotModified commented on #1071
Thanks for the report and demo code! It should be fast. We will look at your example into detail.

[2015-12-04 19:42] varunkumarmnnit commented on #1071
Hello ,
I could not get your point .U mean I should change the timesleep between batches to 50ms or something else u are referring to

[2015-12-04 19:45] 304NotModified commented on #1071
Yes that's what I mean!

[2015-12-04 20:12] varunkumarmnnit commented on #1071
Hello,
Please find the timing after u suggested the chages
105620.0587ms (nlogger)
2449 ms ( without nlogger)
You can see there is a huge timing difference .
Can u suggest where is the issue .

[2015-12-04 20:47] 304NotModified commented on #641
hey @phenixdotnet!

I saw [your fork](https://github.com/phenixdotnet/NLog/tree/dnx). I cannot create an issue there to chat, but we can also do that here. :)

[2015-12-04 20:49] 304NotModified commented on #1071
I checking this out.

Of course is an application which don't anything, is razor fast ;)

Can you compare it the meantime with a file.writeline?

[2015-12-04 20:57] varunkumarmnnit commented on #1071
Hello 304,
Thanks for our effort.The above Nlog progra I am comparing with below program which is nothing but file write operation .

class Program
    {
        static void Main(string[] args)
        {
            Stopwatch sw = Stopwatch.StartNew();
            string folderName = @"D:\Log";
            string jobId = System.Guid.NewGuid().ToString();
            jobId = jobId + "\\MIPS";

[2015-12-04 21:02] 304NotModified commented on #1071
Which timing you have with that?

[2015-12-04 21:03] 304NotModified commented on #1071
So 105 sec vs 2 sec? (not sure if the , is here the thousand separator)

[2015-12-04 21:04] varunkumarmnnit commented on #1071
Yes .

[2015-12-04 21:08] 304NotModified commented on #1071
What timing you have with file.writeline?

[2015-12-04 21:10] varunkumarmnnit commented on #1071
Hello,
I have mentioned above .Its 2 seconds vs with nlogger (with change in the configuration u have suggested) its 105 seconds

[2015-12-04 21:10] 304NotModified commented on #1071
Ah OK, did not understood that well

[2015-12-04 21:13] 304NotModified commented on #1071
I see anyway a performance issue, just finishing first tests

[2015-12-04 21:16] varunkumarmnnit commented on #1071
Hello Julian,
Really appreciate your effort.Did you figure it out what should be done to improve performance .Is there any bug in the code or  this required some config parameter changes .

[2015-12-04 21:18] 304NotModified commented on #1071
224 secs (10 million, 24sec for 1 million)

[code]
----

40 secs (10 million) -  4 secs for 1 milion

[code]

[2015-12-04 21:22] varunkumarmnnit commented on #1071
Hello Julian,
Thanks for your help .But in the second config when u see the log file generated it misses the numbers .I dont want to miss any numbers being generated in the log file .Have u noticed this thing

[2015-12-04 21:25] 304NotModified commented on #1071
Which numbers?

[2015-12-04 21:28] 304NotModified commented on #1071
4 sec:
[code]

2 sec:
[code]

4 sec
[code]

[2015-12-04 21:30] varunkumarmnnit commented on #1071
Hello Julian.
When u see the code I am writing below  lines in the log file
MIP : 3903
MIP : 3904
MIP : 3905
MIP : 3906
MIP : 3907
MIP : 3908
MIP : 3909

.Changing the codfig file as u are suggesting will miss the sequence of numbers being generated in the log file .You can yourself check that to confirm .

Thanks and Regards
Varun

[2015-12-04 21:43] 304NotModified commented on #1071
Yes, I see it. Its the discard I think.

The async sets the wrapper automatically with the following values:

[code]

[2015-12-04 21:45] varunkumarmnnit commented on #1071
Hello Julian,
Yeas .This could be the reason .I dont want to loose the data and have good performance .Thais what I am looking for .

[2015-12-04 21:55] varunkumarmnnit commented on #1071
Hello Julian,
Is there any solution for this .

[2015-12-04 21:57] 304NotModified commented on #1071
Not found yet. Also, I don't get it why

[code]

has different performance/charitics vs

[code]

It should be the same.

[2015-12-04 21:58] varunkumarmnnit commented on #1071
Yeah .Thats also one issue

[2015-12-04 22:13] 304NotModified commented on #1071
8 seconds (instead of 24) - no loss of data:

[code]

Not super fast yet.

[2015-12-04 22:26] theonlylawislove commented on #641
[This](https://github.com/theonlylawislove/SakeExtensions) may help you guys with the building.

[2015-12-04 22:29] 304NotModified commented on #1071
Without `CleanupInvalidFileNameChars` in FileTarget, I get it to 5 sec.

[2015-12-04 22:44] 304NotModified commented on #1071
just write file.writeline 0,5 sec. So still 10 time slower

[2015-12-04 22:47] 304NotModified commented on #1071
Still testing and looking at performance diagnostics

[2015-12-04 23:20] 304NotModified commented on #1071
from 3 -> 2 seconds (50%). Replace datetime.now with datetime.utcnow in FileTarget.InitializeFile.

See http://stackoverflow.com/questions/1561791/optimizing-alternatives-to-datetime-now

[2015-12-04 23:35] 304NotModified commented on #1071
renderedText is still taking some CPU, we should drop that if not needed.

[2015-12-05 00:10] 304NotModified commented on #1071
Done for today. If I run it with release, I get 10 million records within 10 seconds, with some changes in code and with this config:

[code]

So important: ConcurrentWrites + AutoFlush= false , and Async wrapper should not remove messages. Also I used a fixed string for the file name to have a fair comparison.

Changes in code (only in `FileTarget`)

- disabled `CleanupInvalidFileNameChars`
- rep

[2015-12-05 00:14] 304NotModified commented on #133
fixed with NLog/NLog.Windows.Forms#9

[2015-12-05 00:14] #133 closed

[2015-12-05 00:35] 304NotModified commented on #1071
With above changes and writing to file without intermediate byte[] , 7,5 sec. (10 million)

[2015-12-05 00:47] 304NotModified opened #1073 "async attribute is different behaving vs async wrapper"
As seen in https://github.com/NLog/NLog/issues/1071:

[code]

Has different behavior vs

[code]

With many writes the attribute version loses faster the messages. (looks wrong)

The properties set on the FileTarget and AsyncWrapper are the same (checked with debugger).

There is one difference, the aync attribute is calling `InitializeTarget` first on `FileTarget` and then the `AsyncTargetWrapper`

[2015-12-05 00:55] 304NotModified commented on #1069
Do you have some example code?

[2015-12-05 00:56] 304NotModified commented on #865
This seems to be related

https://github.com/NLog/NLog/issues/1073

[2015-12-05 00:57] 304NotModified commented on #865
I'm really curious if you have some more info on this @AKealey !

[2015-12-05 01:26] 304NotModified commented on #1073
Differences in init log and rules:

![image](https://cloud.githubusercontent.com/assets/5808377/11605118/a220c49a-9af7-11e5-874e-c98ccbb5fb0e.png)

[2015-12-05 01:30] 304NotModified commented on #1073
it looks like `AsyncWrapper.Write()` is never called when using the wrapper version...

[2015-12-05 01:34] 304NotModified commented on #865
it seems that the AsyncWrapper is not working at all... (but the async attribute is working - well, not in this case) . See #1073

[2015-12-05 01:35] 304NotModified commented on #865
@UgurAldanmaz with the async attribute, does the code ever reach `AsyncTargetWrapper.Write(..)`?

[2015-12-05 01:57] 304NotModified commented on #1073
It's late. With the wrapper we should edit the logger rule of course...

[2015-12-05 02:06] 304NotModified opened #1074 "Log unused targets to internal logger"
When using xml configuration, (maybe also non xml),  log a warning or info for targets that aren't used in the rules.

This is useful for detecting miscongurations, like forgetting the asyncwrapper. See https://github.com/NLog/NLog/issues/1073, https://github.com/NLog/NLog/issues/1071 and https://github.com/NLog/NLog/issues/865

We should do this efficient, so use a dictionary or hashset.

[2015-12-05 09:27] phenixdotnet commented on #641
Hi.
I totally missed this discussion, I hope we don't have duplicated effort on porting NLog to dnx.
Regarding CI system I use VSTS successfully with dnx build / dnu restore to build, test and pack libraries. The appveyor scripts provided by dmitry-ra looks good we can use a start point.

I will try to take time to play with appveyor and travis on my branch.

On the lib it self, the UAP 10 version

[2015-12-05 09:36] theonlylawislove commented on #641
Doesn't Xamarin support PCLs? I though you can build a PCL and simply reference it in Xamarin? No need for additional compilation.

[2015-12-05 09:37] theonlylawislove commented on #641
https://docs.xamarin.com/guides/cross-platform/application_fundamentals/pcl/

[2015-12-05 11:08] UgurAldanmaz commented on #865
2 days ago, I have analysed the internal logs of the configuration loading. Noticed that somethings was going wrong while target is wrapping. But I could not figure out what happen, because I am so sleepy. :)

And now, it is weekend, and I am ready to investigate in deepth.

[2015-12-05 12:07] 304NotModified commented on #865
I think I know the problem.  The async code is a timer (see async wrapper) . That's in another thread which doesn't have access to the httpruntime.  See Google (now on mobile, difficult to paste :p)

[2015-12-05 12:09] 304NotModified commented on #865
That the AsyncWrapper-target is working, but not the async attribute is probably because you need to change the rules on the config when using the async wrapper. (see referenced issue, made the same mistake) .

So without doing that, the code isn't run async and so no thread issue.

[2015-12-05 13:04] 304NotModified commented on #641
PCL has the preference for Xamarin, but adding more targets to PCL has a curse - you can do less (Lowest common denominator). So if it hurts the functionality of Xamarin port, then we should keep it as separate projects.

I have no experience with DNX. Is the xproj required? I think it's also an option to move the project files in separate folders and keep the old project files? (e.g. NLog.netfx35

[2015-12-05 13:08] 304NotModified commented on #1073
I will retest it, and close it probably

[2015-12-05 13:24] 304NotModified commented on #1071
The issue is here that we have to write (in `<rules>`) to "asyncWrapper" instead of  "mipLoggertarget".

Then you should not use async with Discard. (discard is default for the async attribute).

Last but not least, writing non-async is the best for performance, which is not strange as the test program doesn't do anything besides logging.

[2015-12-05 14:14] phenixdotnet commented on #641
The xproj it self doesn't have any benefit but allow you to remove the old csproj files and keep only the project.json to manage dependencies, package version, name, publish settings, etc, etc, etc.

The problem with the old projects files is just the cost to maintains it (including the setup for CI system for example)

I saw this when I synced my work based on the current master your branch ^^

[2015-12-05 14:19] 304NotModified opened #1075 "Filetarget: remove unneeded conversions from string to byte array / streams"
FileTarget uses one multiple places conversion from / to byte array. This lead to lower performance, see also https://github.com/NLog/NLog/issues/1071.
## sync steps
1. `FileTarget.Write(LogEventInfo logEvent)`
2. `GetFormattedMessage` (returns `string`)  - nb: the simpleLayout uses a `stringbuilder`
3. `GetBytesToWrite` from `string` to byte[]`
4.  transformed to `byte[]` and written to file appe

[2015-12-05 14:20] 304NotModified opened #1076 "FileTarget write async"
We can run the `FileTarget` in a async wrapper, but the messages aren't written async to the file.

E.g. we should use `StreamWriter.WriteLineAsync`. This can be a major change, as all methods should be `async` then. (write, log etc)

[2015-12-05 14:21] 304NotModified commented on #641
Is it then one xproj file instead of multiple csproj files?

[2015-12-05 14:29] 304NotModified commented on #641
it's correct that https://github.com/phenixdotnet/NLog/tree/dnx isn't building yet (local, vs2015). It seems to miss some files? used "NLog.uwp10.sln"

[2015-12-05 14:36] 304NotModified commented on #641
I think I should use nlog.xproj instead of the sln.

Got NLog building successful. Can we use strong naming? Other wise, we have to change this:

[code]

in AssemblyInfo.cs

[2015-12-05 14:41] 304NotModified commented on #641
With

[code]

only 32 errors in the unit test project:

-  `Assert.ThrowsDelegate` + `Assert.DoesNotThrow` . This should be removed with xUnit2
- `AppSettingTests` + `MessageQueueTargetTests` should be removed for DNX . I think whole NLog.Extended should be not in DNX? Maybe we have to move those unit tests to another project.

[2015-12-05 14:48] 304NotModified commented on #641
@phenixdotnet  if you can add me as collaborator, I can push some fixes regarding the unit tests

[2015-12-05 15:44] phenixdotnet commented on #641
@304NotModified Yes only one xproj instead of multiple csproj and sln files
normally we can use strong names but when I tried it I didn't get it working with unit tests.

Yes the merge is ugly I started work on the NLog master before merging your UAP branch and the result is .... strange. IMO, for real work we have to finish the work on UAP, use NETFX_CORE const instead UAP and move to DNX.

I add

[2015-12-05 16:12] 304NotModified commented on #641
So the best steps are:

1. rename UAP to NETFX_CORE in UAP branch
2. merge with nlog/master
3. move to CoreCLR?

[2015-12-05 16:13] 304NotModified commented on #641
So we should work in NLog/UAP for now?

[2015-12-05 16:20] phenixdotnet commented on #641
We can just update the uap branch to master and rename the uap to netfx_core. This will serve as the base for my work on dnx and we can continue to work on both version.

Or we can move the uap branch to xproj and project.json and deliver the both version at the same time. And I could help you with the uap version if needed.

It's as you want :)

[2015-12-05 16:21] 304NotModified commented on #641
no merge with nlog/master first?

That would be great.

[2015-12-05 16:22] 304NotModified commented on #943
@phenixdotnet

any idea how to get the MDC working in UWP?

[2015-12-05 16:25] 304NotModified commented on #943
@phenixdotnet I will merge first with master, the rename later is easy to do.

[2015-12-05 16:27] phenixdotnet commented on #943
Great ! Good luck ^^

[2015-12-05 16:54] 304NotModified commented on #943
Thanks!

[2015-12-05 17:33] theonlylawislove commented on #641
That's why we have ```#if DEFINED``` ;)

[2015-12-05 17:37] 304NotModified commented on #641
But don't we need different projects files (for each platform) then?  Sorry, I try to get into the new stuff, but the documentation is really unclear and the rename also won't help.

We are very well known with `#if` at NLog.

[2015-12-05 17:42] theonlylawislove commented on #641
Your ```project.json``` file should look as follows.

[code]

Within the single project file, you can managed each framework, and the dependencies required for each framework. Then, when you ```dnu pack``` the project, you will get a single tidy nuget package with all the frameworks and dependencies embedded inside correctly.

[2015-12-05 17:43] theonlylawislove commented on #641
Take a look at [this](https://github.com/aspnet/Home/wiki/Project.json-file).

[code]

[2015-12-05 17:49] phenixdotnet commented on #641
Yes @theonlylawislove is right.
This is what I did on my fork, you can have a look at this file: https://github.com/phenixdotnet/NLog/blob/dnx/src/NLog/project.json.
.NET 4.5.1, .NET 4.6, UAP and coreclr are build from the same file

[2015-12-05 18:00] 304NotModified commented on #943
@phenixdotnet almost done.  Broke something with extention loading. Will fix that in a few hours. (dinner time now)

[2015-12-05 18:11] UgurAldanmaz commented on #1074
Targets adding to the related `LogginRule` class instance. Every `LogginRule` instance is adding to the `LoggingRules` property of the `LoggingConfiguration` class.

We should check the `LoggingRules` property I guess.

Where do we should use dictionary or hashset? In the `LoggingRule` class?

Do you mean [there] (https://github.com/NLog/NLog/blob/master/src/NLog/Config/LoggingRule.cs#L112).

[2015-12-05 18:36] UgurAldanmaz opened #1078 "Documentation improvings for Thread and Async Writing in general"
Subjects:
* AsyncTargetWrapper
* How should be Target and Rule configrations
* AspNetTrace target
* Performance suggestions (?)

Related issues: https://github.com/NLog/NLog/issues/865, https://github.com/NLog/NLog/issues/1073, https://github.com/NLog/NLog/issues/1071, https://github.com/NLog/NLog/issues/1074

[2015-12-05 18:51] 304NotModified commented on #1078
We could write a news post on it? (for nlog-project.org), and then include it in the wiki

[2015-12-05 18:53] 304NotModified commented on #1074
Yes I think also

I think: loops over targets and then check the rules. The "check the rules" should be efficient, so we have built a dictionary or hashset first. (I think `hashset<string>` from the rules which contains the target names)

[2015-12-05 19:11] UgurAldanmaz commented on #1078
Why news? For feature development?

[2015-12-05 19:14] UgurAldanmaz commented on #1074
While checking (in the method scope) or create a new class?

[2015-12-05 20:53] 304NotModified commented on #1078
Well more a "blog post" then.

[2015-12-05 23:12] 304NotModified commented on #943
See https://github.com/NLog/NLog/pull/1077

Need some small changes before merge.

I will merge it In a separate branch at nlog, so the NLog team can easily help :)

[2015-12-06 16:25] 304NotModified commented on #943
Fixes
https://github.com/NLog/NLog/issues/943

- [x] Let's see what ApPVeyor thinks
- [x] Review all the changes.

todo
---

- [x] ConfigurationItemFactory: fix xml doc (merge issue)
- [x] Enumhelper: use isEnum method ext
- [x] rename ext to get....
- [x] move classes to separate files.
- [x] LogFactory: fix xml doc (multiple)  (merge issue)
- [x] LogManager: fix xml doc  (merge issue)
- [x] Thre

[2015-12-06 16:31] 304NotModified commented on #641
@phenixdotnet

What I did:

- merged UWP with the master (was more work then expected)
- [PR'd] https://github.com/NLog/NLog/pull/1077 and merged to [branch UWP](https://github.com/NLog/NLog/tree/UWP)
- Created a [CoreCLR branch](https://github.com/NLog/NLog/tree/coreCLR) out of UWP branch

I didn't do the rename of the conditionals, but be my guest. So I propose to work futher on the coreCLR bran

[2015-12-06 17:03] 304NotModified commented on #943
Currently not supported:

* Config from appsettings
* MDC, MDLC, NDC
* LayoutRenderer
 * AppDomain
 * AspApplicationValue
 * AspRequestValue
 * AspSessionValue
 * AssemblyVersion
 * BaseDir
 * Identity
 * Log4JXmlEvent
 * MachineName
 * Mdc
 * Ndc
 * NLogDir
 * PerformanceCounter
 * ProcessId
 * ProcessInfo
 * ProcessName
 * QueryPerformanceCounter
 * Registry
 * SpecialFolder
 * ThreadId
 * Threa

[2015-12-06 22:57] UgurAldanmaz commented on #865
As @304NotModified said, logs are written by different thread in async mode, of course.
Tracing can do with the `HttpContext` which is null for the different thread. [If `HttpContext.Current` is null, then trace writing canceled.] (https://github.com/NLog/NLog.Web/blob/master/NLog.Web/Targets/AspNetTrace.cs#L25)

But if AspNetTrace target wrapped by AsyncWrapper -without shorthand, probably differ

[2015-12-06 22:57] #865 closed

[2015-12-06 23:02] 304NotModified commented on #865
@UgurAldanmaz , I'm pretty sure this isn't a bug. If you use the async-wrapper, then all the messages should be written to the aync-wrapper (and not the wrapped version). I have tested it that the async attribute is behaving the same as the async wrapper.

I think this is about the "wrong thread", which is the thread of the timer.

Anyway, concluding, we cannot write async to the aspnettrace. Mayb

[2015-12-07 06:09] phenixdotnet commented on #641
@304NotModified
thanks you, looks like a very good start to work on coreclr :)

To do list is:
- [ ] Setup an appveyor build on coreclr banch
- [ ] Fix missing functionnalities is possible and if make sense
- [ ] Fix unit tests
- [ ] Publish :)

[2015-12-07 06:11] phenixdotnet commented on #641
Hum, there is a coreCLR and a coreclr branch, not sure why.
I will start work on coreCLR branch may be we can remove the coreclr.

[2015-12-07 07:48] 304NotModified commented on #641
I think the lowercase is the updated one. If we check that, I remove the other.

What is needed for appveyor?

[2015-12-07 07:55] phenixdotnet commented on #641
We just need to adapt build script to ensure coreCLR is build with dnx / dnu tools.
I have those scripts, I just need to test it and integrate it.

[2015-12-07 08:58] AKealey commented on #865
Hi, thanks for all your help!

Unfortunately, he really cant remember (was quite a while ago).

If this is indeed a known issue then we will continue to use our current setup for now.

________________________________
From: Julian Verdurmen <notifications@github.com>
Sent: 06 December 2015 23:03
To: NLog/NLog
Cc: Andrew Kealey
Subject: Re: [NLog] empty trace.axd message when wrapped in async="true

[2015-12-07 11:26] 304NotModified commented on #641
Sounds good.

I saw you have committed on coreCLR , so I have removed the coreclr branch. (the coreclr had some changes commited to UWP branch, but those aren't needed now I guess)

[2015-12-07 12:02] phenixdotnet commented on #641
Oups, sorry for that :(

[2015-12-07 12:39] 304NotModified commented on #641
NP! :)

[2015-12-07 13:01] 304NotModified commented on #641
@phenixdotnet

I see you have added a project.json, but that doens't work well with NLog.sl4.csproj etc. (see [AppVeyor log](https://ci.appveyor.com/project/nlog/nlog/build/4.0.1335))

In the UWP branch I used "NLog.uwp10.project.json". Can't we use that? Or are we converting every csproj?

[2015-12-07 13:13] phenixdotnet commented on #641
Too bad :(
I will have a look at this right after I fix my appveyor build.

Yes I saw it but dnx and the new projects system mostly expect a project.json file. What I don't understand is why a project.json is handle by the SL project file.

Those errors are only on the coreclr branch no ? We can take time to investigate and fix it properly no ?

[2015-12-07 13:53] 304NotModified commented on #641
this has to do that msbuild uses both packages.config and project.json AFAIK. There are 3 solutions:

1. move to different folders
2. migrate all projects to .json
3. rename "project.json" to "<projectname>..project.json". This is what I did for UWP and that worked very well. I prefer this one.

[2015-12-07 13:58] phenixdotnet commented on #641
@304NotModified finally this error isn't related to project.json files but to a changes I done in assembly signing for test. I fixed it and it should be ok now. Let me know if not :)

[2015-12-07 14:27] 304NotModified commented on #641
Did you pushed it? You can see the build status here: https://ci.appveyor.com/project/nlog/nlog/history (see label "coreCLR" for this branch)

![image](https://cloud.githubusercontent.com/assets/5808377/11629201/0854b87e-9cf7-11e5-9e98-d3f72cbda344.png)

[2015-12-07 14:30] 304NotModified commented on #641
I get this locally: (NLog.sl4.sln)

![image](https://cloud.githubusercontent.com/assets/5808377/11629277/7bd2d51a-9cf7-11e5-8c1f-8c5dc2bea961.png)

[2015-12-07 14:36] phenixdotnet commented on #641
Interesting, I will have a look at this later this day.

I think we should really keep the default project.json file name.
If I can't get SL build with this we will move to your solution (IE Rename it) but I think it will be better if we can keep on proj and project;json for all targets.

Thanks for your help !

[2015-12-07 16:34] varunkumarmnnit commented on #1071
Hello Julian,
I really appreciate the effort that you have put in which  wull help every other person who are using Nlog.Can you tell how you have done CleanupInvalidFileNameChar .Rest fixes I am not sure whthere apply or not but this could work for every other scenario.

[2015-12-07 16:55] 304NotModified commented on #1071
I will test the fix this week, and if it is a good improvement, I will release it. :)

[2015-12-07 16:58] varunkumarmnnit commented on #1071
Hello Julian ,
I have done the changes in the config file as suggested by you and I am seeing some improvement in the running time .But Not done any code changes as I am confused in that .

[2015-12-07 17:03] 304NotModified commented on #641
@phenixdotnet FYI,

the error (AppVeyor)

[code]

For strong named assemblies we need (assemblyinfo.cs)
[code]

and for non-strong named:

[code]

[2015-12-07 17:10] phenixdotnet commented on #641
@304NotModified Yes I'm aware about this :)
I missed some consts and the results is this signing errors.

I'm playing with different approaches for the dnx branch so don't be worry about appveyor for the moment, I will fix the build ASAP but I need time to explore the different options.

[2015-12-07 17:39] 304NotModified commented on #641
OK thanks for the update!

[2015-12-07 17:41] 304NotModified commented on #1071
I will make within a few days a new branch so you can test it.

[2015-12-07 18:10] 304NotModified commented on #1071
@varunkumarmnnit

if you like to test: https://github.com/NLog/NLog/tree/4.2.3. It has fixes for both bottlenecks.
It builds (and unit tests are succeeding): https://ci.appveyor.com/project/nlog/nlog/build/4.0.1345
I didn't test the performance yet.

It would be great if you can give some feedback on this change :)

[2015-12-07 20:45] varunkumarmnnit commented on #1071
Hello Julian,
Thanks for your comment .I am using the following configuration
<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
        <add asse

[2015-12-07 20:51] 304NotModified commented on #1071
To get it faster:

- Use a release build
- Don't use async writing. (well the asyncWrapper isn't used in your example)
- Templating the fileName is taking some resource. Maybe you can set it from the API?
[code]

[2015-12-07 20:59] 304NotModified commented on #1071
I will test this also this week. It should be ~10 sec for 10 million rows. If not, then I will add an option to disable the "clearFileName"

[2015-12-07 22:07] varunkumarmnnit commented on #1071
Hello Julian ,
I have done the last two changes suggested by you .But  I am not seeing any significance improvement .May be I am doing something wrong .Anyways you test also by yourself and let me confirm the result .I will officilay download the Nuget once things get working .

Thanks and Regards
Varun

[2015-12-07 22:56] 304NotModified commented on #1071
Hi,

I did tested the test program. I took 22 sec for 10 million messages. That was not enough. I updated 4.2.3 with a filename cache (works only if the filename is a fixed string! So no `$...`). Now I get < 10 sec for 10 million rows.

![image](https://cloud.githubusercontent.com/assets/5808377/11642249/28a6f4f2-9d3d-11e5-9af0-1e541cf23f21.png)

I tested it with the following config:

[code]

If

[2015-12-08 17:26] varunkumarmnnit commented on #1071
Hello Julian ,
I myslef has verified teh result and its working as you have told but performance is lot depending on the filename is fixed or not .Is there any way that that i can speed up the thing with the way i have written the file name above.The thing that I have written in above way as my folder name known based on some certain id .that the reason i have mentioned file name as above

[2015-12-08 17:58] varunkumarmnnit commented on #1071
Hello Julian ,
I have observed the fix that u have suggested really improves timing when filename is fixed otherwise its degrading the performance .You can also check if you want.

[2015-12-08 19:22] 304NotModified commented on #1071
Can't you set the filename from the api (as shown above)?

[2015-12-08 19:30] varunkumarmnnit commented on #1071
I did i will try again but havnt got improvement.In fact with your new changes its worsening the result if the file name is not fixed .U can also verify at ur end to avoid any mistake from my side .

[2015-12-08 20:14] 304NotModified commented on #1071
I will test that also this week.

Anyway, fixed file name will be always faster.

Van you tell me why you need a log file of millions of lines?

[2015-12-08 20:18] varunkumarmnnit commented on #1071
I am working on a project that can generated this much such of file.Thats why i am testing

[2015-12-08 21:06] dls314 opened #1080 "NLog.Config and NLog.Schema packages don't work as expected with Nuget 3 (Visual Studio 2015)"
Hi,

When I install NLog.Config 4.2.2 and/or NLog.Schema 4.2.1 into a DNX project, the content (NLog.config or NLog.xsd) isn't copied into the project.

I think this is fixable with a nuspec that targets nuget 3.3 using the nuget content v2 (contentFiles) nuspec element.

http://docs.nuget.org/create/nuspec-reference#contentfiles-with-visual-studio-2015-update-1-and-later

I'm sure the issue is a

[2015-12-08 21:09] 304NotModified commented on #1080
Thanks for reporting.

So you know if the package is still nuget 2.8 compatible? Or do we have create a new (separate) package?

[2015-12-08 21:36] dls314159 commented on #1080
Having read some more about nuget 3.3, I'm not even sure it's a good answer.
http://blog.nuget.org/20151118/nuget-3.3.html

It sounds like there's no model yet for not-immutable content.

[2015-12-09 01:54] Page-Not-Found commented on #1045
Do we really want to allow for Relative Path or we just need to add warning to the internal log?

[2015-12-09 09:33] GClaudio commented on #1072
Hi Julian,
thank's for your answer, but I didn't find the statement or a sample for my purpose (or I didn't understand); I would need to handle the following scenario:

NLog_common_Class
public Logger LOG = LogManager.GetCurrentClassLogger();
public User {get;set;}
Public Log event()
{
If (this.User ==' Iron')
	Log.Info(……)
}

I need to fire the Nlog event in the common class, used from other appl

[2015-12-09 10:07] 304NotModified commented on #1072
So you like to log only for a particular user?

I think the above code should work then? Or is `event()` not called?

[2015-12-09 10:25] GClaudio commented on #1072
Ok,
but i implemented a Dll with NLOG (wreppered), used from some applications, i don't want to check the user setups in every applicatiion, i would like to check it only in my Nlog dll, but  i don't know (if it's possible) to trap the nlog event (in my dll).
Thank's

[2015-12-09 16:31] 304NotModified commented on #1072
I think you like to filter messages dependent on which user has been logged in.

Is it a web application (asp.net  / asp.net mvc)?

Then you can filter the calls in the nlog.config. You need then [nlog.web](https://www.nuget.org/packages/NLog.Web package) also

- https://github.com/NLog/NLog/wiki/When-filter
- https://github.com/NLog/NLog/wiki/AspNetUserIdentity-Layout-Renderer

e.g.

[code]

[2015-12-09 17:07] 304NotModified commented on #1080
I think it should work with buildaction =none and copyToOutput=true.

Can you tests that for us? (you can configure a local folder in visual studio) . Otherwise I will look at this,  probably this weekend or next week

[2015-12-09 17:13] GClaudio commented on #1072
Really my applications are Windows Forms, but it would be a good idea the filter messages, is it available for Windows Forms ? Or, a better solution, could be crate a filter like as:
condition=<when condition=${myVariable} != true" action="Ignore"/>
what do you think about this possibility ?

P.S. Is it possible to show a messagebox with Nlog when an error occurs ?

Thank's

[2015-12-09 20:39] 304NotModified commented on #641
Need some help @phenixdotnet?

[2015-12-09 20:45] phenixdotnet commented on #641
@304NotModified need time ^^
More seriously, I'm trying to fix units tests but we have to deal with the restrictions on coreclr platforme like for the UWP.

[2015-12-09 21:08] phenixdotnet commented on #641
Ok, I have the same unit tests in error than in the UWP branch.
Look like a good point to start working on fix, if possible :)
![nlogunittests](https://cloud.githubusercontent.com/assets/2082554/11698866/59e27b9c-9ec1-11e5-8b79-d33925307bc6.PNG)

[2015-12-09 21:10] 304NotModified commented on #641
Are you running xunit 1 or 2?

[2015-12-09 21:17] phenixdotnet commented on #641
xunit 2.1.0 (see http://xunit.github.io/docs/getting-started-dnx.html for support matrix)

[2015-12-09 21:18] 304NotModified commented on #641
Thanks! I have updated my post already :)

[2015-12-09 21:25] phenixdotnet commented on #641
@304NotModified About MDC, and the CallSite, I'm working on this but the new platform have some limitation. I took a look at the ApplicationInsight code and even MS is disabling the stack trace collect when running on dnx (See https://github.com/Microsoft/ApplicationInsights-dotnet/blob/master/src/Core/Managed/Shared/Extensibility/Implementation/ExceptionConverter.cs for example)

[2015-12-09 21:47] 304NotModified commented on #641
Yeah the stacktrace is also pity, but it's not essential (only highly desirable).

The same for the MDC. We can built a MDLC with (which is maybe even better then the MDC) in UWP: https://msdn.microsoft.com/en-us/library/windows/desktop/ms686749(v=vs.85).aspx. It that also possible for CoreCLR? Then we can alter the unit tests from MDC -> MDLC

[2015-12-09 21:54] phenixdotnet commented on #641
I got MDC and NDC working (unit tests ok), both on coreclr and UWP, thanks to package System.Threading.Thread :)

I'm using the same code than the silverlight version (AKA TLS_WORKAROUND), is it ok ?

![nlogunittests2](https://cloud.githubusercontent.com/assets/2082554/11699992/77e0eab0-9ec7-11e5-9007-84ccf81cc2a2.PNG)

[2015-12-09 21:56] 304NotModified commented on #641
Great! Sounds good to me!

[2015-12-09 22:05] phenixdotnet commented on #641
Yeah, next step is having the stacktrace working correctly.

[2015-12-09 22:18] 304NotModified commented on #641
We can use Environment.StackTrace? (think we used it also in Silverlight)

[2015-12-09 22:20] phenixdotnet commented on #641
Good question !
I will test that tomorrow :)

[2015-12-09 22:23] 304NotModified commented on #641
PS: Can't find ` Environment.StackTrace` usage, but can find `ParseMethodNameFromStackTrace(string stackTrace)` (ExceptionLayoutRenderer)

[2015-12-09 22:25] phenixdotnet commented on #641
Yep but the problem is how to get the stacktrace string.
The StackTrace object is just empty

[2015-12-09 22:37] 304NotModified commented on #641
`Environment.StackTrace` is empty?

[2015-12-09 22:39] 304NotModified commented on #1080
I think the nuspec for NLog.Config should be:

[code]

See attachment nuspec and nupkg.

[2015-12-09 23:16] 304NotModified commented on #948
Thanks for the list!

[2015-12-09 23:24] UgurAldanmaz commented on #948
Nope!
When we discuss and select the necessary subjects, I will write the FAQ page with them.

[2015-12-10 07:10] phenixdotnet commented on #641
Sorry, no, the StackTrace object instancied like this `new StackTrace(new Exception(), bool)` always return an empty stacktrace.

[2015-12-10 10:22] GClaudio commented on #1072
HI Julian,
I resolved the NLOG messagebox with Nlog.Windows.Forms package.

For the other problem, is it possible to create a filter like as:
condition ="${myvariable} != True action = "Ignore"    (?)

Thank's

[2015-12-10 12:37] proxteam opened #1085 "How to get database id of inserted log statement?"
I have configured nlog to log errors into a database table. I would like to get the id of the log record from the database. How could I achieve this?
Thx.

[2015-12-10 12:48] Page-Not-Found commented on #948
### NLog Customization
* Target
* Levels

### Tricks
* Switch files based on condition (the answer is available in stackoverflow).

[2015-12-10 13:23] 304NotModified commented on #1085
You can use `@@IDENTITY` (SQL server) in your command, but you can't do anything with it.

[2015-12-10 16:22] 304NotModified commented on #1072
Yes, you can use:

[`${windows-identity}` ](https://github.com/NLog/NLog/wiki/Layout-Renderers)

See https://github.com/NLog/NLog/wiki/When-filter

PS: please post you code between backticks, see the your posts I have edited before.

[2015-12-10 20:04] UgurAldanmaz commented on #883
Should we remove the 'needs document on wiki' label as it documented?

[2015-12-10 21:26] madsmg commented on #550
We have been experiencing this issue quite a lot (log writes that overlaps into the next period), resulting in missed archiving. Currently we have implemented a workaround using a custom target.

One possible solution (however I have a hard time predicting all the consequences) could be to call File.SetCreationTimeUtc when creating the filestream in the base appender (to ensure that the creation t

[2015-12-10 22:06] phenixdotnet commented on #641
I got the CallSiteTests ok, but I'm not happy with the code I used.
To got stack trace I'm using reflection to create an instance of StackTrace class using the default constructor. This is working on coreclr on windows. I'm testing it on mac os x.

What I don't understand is why there is a diff between the StackTrace implementation in CoreCLR framework (https://github.com/dotnet/coreclr/blob/maste

[2015-12-10 23:23] 304NotModified commented on #550
That's sounds like a good idea! I think it would be great if we can fix this issue!

PR is accepted on this one.  If you need some insight info, just let us know!

[2015-12-10 23:28] 304NotModified commented on #883
That's possible. But I ignore those labels on closed issues.

Do you think it's better to remove it?

[2015-12-11 03:31] deevus opened #1086 "Formatting innerException using JsonLayout"
I want to log the inner exception to Json as a child of the following layout. Clearly this doesn't work, but I feel like it should not be far from the solution:

[code]

How do I specify a child layout such that it formats the same way as the parent exception?

[2015-12-11 07:22] proxteam commented on #1085
I cannot retrieve the @@IDENTITY value from the database? I need to show the @@IDENTITY value to the user.

[2015-12-11 08:15] UgurAldanmaz commented on #883
Not sure.

It seems that it is a reminder to document, so it should be removed when complete the documentation task for clarity of next search result.

It also seems that it is a step to close the issue. Such as: You should not close unless to complete the documentation. Otherwise you may forget to document it.

Also it seems that this discussion is trivial thing :) Forget.

[2015-12-11 08:59] UgurAldanmaz commented on #1085
Are you trying something like log monitoring?
What is your scenario? Such as, log something and show it to the user immediatly or just monitor the logs from database at anytime?
Who is the user? Operator, end user or another?

Could you give some more detail?

[2015-12-11 09:10] proxteam commented on #1085
When an exception occurs in my mvc application it logs the exception message into a database table using nlog. I would like to show a message to the user like "An error occured. Contact system administrator and pass log id @@IDENTITY", such that the id of the log message that has been just inserted into the log table is displayed to the user.

[2015-12-11 09:59] 304NotModified commented on #1085
Too bad this isn't possible yet. You can add a feature request to https://nlog.userecho.com

[2015-12-11 18:18] varunkumarmnnit commented on #1071
Hello Julian,
Any update on the testing result .

[2015-12-11 18:20] 304NotModified commented on #1071
Not yet. Will test this weekend.

[2015-12-11 22:55] 304NotModified commented on #641
Well it's better then nothing. But Indeed the reflection idea is a better idea.

Can list the steps we need to do like github checkboxes?

e.g.
- [ ] Fix .Net buids
- [ ] Fix stacktrace

And can you tell us in which things we can helo?

[2015-12-12 00:33] chrisrestall opened #1087 "4.2.2 assembly versioning issue"
Just updated NLog via nuget to 4.2.2 and am now getting warnings during compilation about a conflict with NLog 4.0.0.0.  My application also will not run.  Here is the snippet from my build log:

There was a conflict between "NLog, Version=4.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c" and "NLog, Version=4.2.2.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c". (TaskId:12)
      "NLo

[2015-12-12 00:54] 304NotModified commented on #1087
Hi,

From which version are you upgrading?

Please test with newversion=4.0.0.0 (and same old version) in your config. That should solve it.

The assembly version of 4.2.2 is still 4.0.0.0. That has a good reason. But first resolve your issue and then I can tell about it :)

[2015-12-12 01:05] chrisrestall commented on #1087
I upgraded from 4.1.0.  Here is what the old reference looke dlike:

 Reference Include="NLog, Version=4.1.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c, processorArchitecture=MSIL"
      HintPath>..\packages\NLog.4.1.0\lib\net45\NLog.dll HintPath
      Private>True</Private
    /Reference

The new reference looks like this:

  Reference Include="NLog, Version=4.0.0.0, Culture=neutral, Pub

[2015-12-12 06:51] a14907 opened #1088 "I just lose the log when i use NLog"
The code is in a console application.
code is simple :

            for (int i = 0; i < 26130; i++)
            {
                NLog.LogManager.GetLogger("mylog").Debug(i.ToString());
            }

the config setting :
1.

[code]

2.
[code]

There is no problem in the first ,I get all 26130 log message,with a file size:1.58MB
But in the second ,I just get a log file with the size of :687KB....

[2015-12-12 09:01] 304NotModified commented on #1087
Yes this is a know issue of 4.1.0.

Your assembly binding config is wrong. You should change it (change the newversion) .

[2015-12-12 09:07] 304NotModified commented on #1088
That is expected behaviour.  The async wrapper will discard messages (configurable) when you write faster than it can handle. Writing only log messages I a for loop is of course not a real case you would use in practice.

Please check the internal log (set internal log level on trace) and see the docs of async wrapper.

[2015-12-12 09:31] a14907 commented on #1088
I did not expect it so. Why it can not record all the information?

[2015-12-12 11:02] 304NotModified commented on #1088
Please read https://github.com/NLog/NLog/wiki/AsyncWrapper-target

[2015-12-12 18:47] 304NotModified commented on #1087
related https://github.com/NLog/NLog/issues/921

[2015-12-12 18:48] 304NotModified commented on #1087
See for more detail: http://nlog-project.org/2015/09/12/nlog-4-1-1-has-been-released.html

[2015-12-12 18:58] chrisrestall commented on #1087
Thank you!  After reading through these I've confirmed I'm not insane :)  I'll give this a try as soon as I get to my workstation.  Appreciate the quick response.
Chris

[2015-12-12 19:02] 304NotModified commented on #1087
I added the issue to the FAQ: https://github.com/NLog/NLog/blob/master/README.md#frequently-asked-questions-faq

Please let us know if you get it working or if you need further assistance!

[2015-12-12 19:57] 304NotModified commented on #1071
Hey Varun,

I timed 50 seconds for 10 million records with:

[code]

I added the option `CleanupFileName`, so you can skip this option for performance reason. Also I did a small tweak in the GDC.

Now with the following config:

[code]

I will be take 15 seconds (10 million messages). Commited to [4.2.3](https://github.com/NLog/NLog/tree/4.2.3).

Please test in your environment. If it's good enoug

[2015-12-12 20:55] Page-Not-Found commented on #1086
Looks like #723?

[2015-12-12 21:48] 304NotModified commented on #1086
An example of the current and wanted json would help me :)

[2015-12-12 21:50] 304NotModified commented on #1034
I think we should fix it, but not before 5.0 (breaking change)

[2015-12-12 22:04] 304NotModified commented on #1073
This was a (common) config mistake.

[2015-12-12 22:04] #1073 closed

[2015-12-12 22:05] 304NotModified commented on #943
Waiting on coreclr.

[2015-12-12 22:06] 304NotModified commented on #1029
I did some research into the filetarget recently.  Will look at this soon.

[2015-12-12 23:50] 304NotModified commented on #1029
- when ` keepFileOpen="true"` => MutexMultiProcessFileAppender.TheFactory
- when ` keepFileOpen="false"` => RetryingMultiProcessFileAppender.TheFactory

[2015-12-13 00:16] 304NotModified commented on #1029
File "unknown" in process which isn't writing anymore:

![image](https://cloud.githubusercontent.com/assets/5808377/11764611/2202a404-a137-11e5-8663-54ec940aee00.png)

[2015-12-13 00:46] 304NotModified commented on #1029
not sure where the problem lies. No exceptions, and just this.file.write/flush  (filestream) is called (so no lock issues), but it won't write! Anyone an idea?

[2015-12-13 05:48] Ekus commented on #741
Oh, yes, once I installed the newest NLog first, instead of relying on NLog.Web adding NLog 4.0 as a dependency. Thank you.

[2015-12-13 12:38] Page-Not-Found commented on #1029
Not Sure if this will be useful or you have seen this already.
http://stackoverflow.com/questions/18690537/multi-processes-readwrite-one-file
http://stackoverflow.com/questions/640122/is-there-a-global-named-reader-writer-lock?answertab=active#tab-top

[2015-12-13 12:52] 304NotModified commented on #1029
Thanks for the info!

I will those in detail. Anyway good to know:

- We use the Mutex approach
- and this seems to work really good, but not after archive (`File.Move`).

[2015-12-13 13:20] #1074 closed

[2015-12-13 13:24] 304NotModified commented on #1030
I we have a unit test for this,  I will fix the code.

[2015-12-13 13:29] 304NotModified commented on #223
PR is submitted, will be merged in 5.0

[2015-12-14 06:29] phenixdotnet commented on #641
Hi.
I'm waiting for someone on coreclr to check if we can get the default ctor of StackTrace back.

The task list is:
- [ ] Fix the StackTrace in a better way than using reflection
- [ ] Fix the build under unix-like systems -> phenixdotnet
- [ ] Test the lib on all platform. The build procuce an assembly for each frameworks in this list: .NET 3.5.1, .NET 4.5.1, .NET Core 5, UAP 10, Silverlight 5.

[2015-12-14 17:31] 304NotModified commented on #641
There is a big change that will take some time, isn't it?

I think it would be great that we can work on the other steps, and I we are done with it, we can see if the stacktrace thing is (getting) fixed. The stacktrace isn't a breaking IMO.

[2015-12-14 18:54] lalberto8085 commented on #767
Is there a way to load this assemblies programmatically? I am using asp net 5 and so far I have only been able to configure NLog programmatically by loading my configuration files into some DTOs and then using those to create targets. I installed the `NLog.Web.nupkg` to my project but still none of the `aspnet-...` nor `iis-site-name` commands work and I get the error `Layout renderer not found`.

[2015-12-14 19:34] 304NotModified commented on #767
Yeah sure, https://github.com/nlog/nlog/wiki/Extending%20NLog#do-i-really-need-to-create-a-separate-dll

But nlog.web should work out of the box. Which NLog versions (nuget version) are you using? And can you post your config?

[2015-12-14 20:54] lalberto8085 commented on #767
I am currently using `NLog 4.2.2` it was the latest last time I saw, I already found a way around by doing this in my configuration code
                var assembly = (typeof(NLog.Web.LayoutRenderers.AspNetUserIdentityLayoutRenderer)).Assembly;
                ConfigurationItemFactory.Default.RegisterItemsFromAssembly(assembly);

this is my configuration code:

    public static void LoadFileTarg

[2015-12-14 21:41] 304NotModified commented on #767
Can you check the internal log? (trace)  It logs the binaries which get auto loaded.

[2015-12-14 22:07] lalberto8085 commented on #767
where can I see that? the log once set on trace is enormous and this is the beginning of it:

    2015-12-14 16:55:31.7750 Debug --- NLog configuration dump ---
    2015-12-14 16:55:31.7750 Debug Targets:
    2015-12-14 16:55:31.7750 Debug File Target[LogFile]
    2015-12-14 16:55:31.7750 Debug Database Target[DBLog]
    2015-12-14 16:55:31.7750 Debug AsyncWrapper Target[MailConfig-Buffered-Async]

[2015-12-14 22:43] 304NotModified commented on #767
It should log something about auto loading

[2015-12-14 22:45] 304NotModified commented on #767
https://github.com/NLog/NLog/blob/242177f1558824a7f6598205ba988e8a1ec26ad9/src/NLog/Config/ConfigurationItemFactory.cs#L260

[2015-12-15 15:06] lalberto8085 commented on #767
I just sow your comments and I realized I was configuring the `InternalLogger` after I added some targets and stuff, so I moved it before doing anything else and removed the lines where I loaded the `NLog.Web` assembly and I saw in the internal log that it wasn't loaded, apparently the piece of internal log I pasted you wasn't the place where loaded assemblies are logged.

In any case loaded assem

[2015-12-15 15:15] rellis-of-rhindleton commented on #1085
You could define another logging target that only catches errors like this, so it's easy for an admin to look them up by user & approximate time without knowing an exact ID.  That's the approach I would take.

Another option would be to make your own unique ID (a new GUID maybe) and add it to the log event as a property (saving the property in the table along with everything else).  It'd go unused

[2015-12-15 15:16] 304NotModified commented on #767
So you get it resolved but auto loading isn't working?

Can you post the internal logs so we can fix the auto loading?

[2015-12-15 15:47] lalberto8085 commented on #767
this is my internal log:

    2015-12-15 09:56:50.1268 Debug ScanAssembly('NLog, Version=4.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c')
    2015-12-15 09:56:50.1629 Debug Start auto loading, location: C:\Users\{user}\.dnx\packages\NLog\4.2.2\lib\net45
    2015-12-15 09:56:50.1629 Debug Auto loading done
    2015-12-15 09:56:50.1629 Trace FindReachableObject<NLog.Internal.IRenderable>:

[2015-12-15 16:12] 304NotModified commented on #767
Thanks, it does!

[2015-12-15 16:15] 304NotModified opened #1091 "Autoloading assemblies doesn't work with .NET Core"
Internal log:

[code]

The location is wrong "C:\Users{user}.dnx\packages\NLog\4.2.2\lib\net45", so it won't find the other packages.

From: https://github.com/NLog/NLog/issues/767

related #641

[2015-12-15 16:15] 304NotModified commented on #767
new issue created, so close this one.

[2015-12-15 16:15] #767 closed

[2015-12-15 16:18] phenixdotnet commented on #1091
Hi.
The paths management in ASP.NET has been changed and we must adapt the way we retrieve the paths.
I will have a look at this as part of the work on dnx/coreclr work.
The best approach is to use
[code]

but it's only suitable for dnx/coreclr

[2015-12-15 17:25] 304NotModified commented on #1091
Thanks for the info @phenixdotnet !

To fix it for CoreCLR doesn't sound like a problem. But how do we now that we are using DNX? Dnx is also possible with .net45?

[2015-12-15 22:40] phenixdotnet commented on #1091
Yes, you can use the dnxcore lib in your .NET 4.5 project but, today, it's not working (no error but the config doesn't seem to be loaded). You can have a look at the examples added in coreCLR branch

For this issue the project is running ASP.NET 5 so I think it also use dnx. This is why the path is wrong and why we can use the PlatformServices class.

[2015-12-15 23:24] 304NotModified commented on #1071
@varunkumarmnnit do you have time to validate my results?

I will improve the testprogram for the future, but for now it's funny that sync writing is faster then async.

With the fixed name, i'm happy with the results with sync writing+fixed name.

![image](https://cloud.githubusercontent.com/assets/5808377/11827295/471119aa-a38b-11e5-87ca-a73dde1f7084.png)

But there should be some improvement do

[2015-12-15 23:33] 304NotModified opened #1092 "performance: Unused targets are still Initialized"
Unused targets are still Initialized. This is waste of performance, especially the asyncwrapper (timer will be started).

With the following config, all 4 targets are initialized. (`InitializeTarget`)

Example:
[code]

related: https://github.com/NLog/NLog/issues/1071

[2015-12-15 23:56] 304NotModified opened #1093 "Unit test and cleanup FileTarget.GetFileAppenderFactory"
Write unit tests and cleanup `FileTarget.GetFileAppenderFactory` (code duplication in conditionals)

[2015-12-16 00:01] 304NotModified commented on #1069
@Bidou44

can you give some more info?

[2015-12-16 15:45] lalberto8085 opened #1094 "Installing DatabaseTarget programmatically"
I've being using `NLog 4.2.2` with asp net 5 in my development environment for some time now and it works fine, but now when I deploy I need to make an `Install(...)` of the `DatabaseTarget` so that it creates the appropriate Table and StoredProcedure. However I'm getting this exception:

    System.ArgumentNullException
    Value cannot be null.
    Parameter name: type

    at System.Activator.C

[2015-12-16 16:16] 304NotModified commented on #1094
HI,

I see that has something to do with the SQL type used in the install. I think you use SQL server? You need the type `System.Data.SqlClient.SqlConnection` , is that installed with a package?

[2015-12-16 16:36] lalberto8085 commented on #1094
I don't know if as a package (*.nupkg) but I can use the `SqlConnection` and `SqlConnectionStringBuilder` after `using System.Data.SqlClient`. I can log everything on the DB if I create the table and procedure by hand. I do use SqlServer like this `DBProvider = "sqlserver"` when creating the target.
Thanks a lot

[2015-12-16 16:37] lalberto8085 commented on #1094
I don't know if as a package (*.nupkg) but I can use the `SqlConnection` and `SqlConnectionStringBuilder` after `using System.Data.SqlClient`. I can log everything on the DB if I create the table and procedure by hand. I do use SqlServer like this `DBProvider = "sqlserver"` when creating the target.
Would you like my Target configuration code?
Thanks a lot

[2015-12-16 16:37] lalberto8085 commented on #1094
I don't know if as a package (*.nupkg) but I can use the `SqlConnection` and `SqlConnectionStringBuilder` after `using System.Data.SqlClient`. I can log everything on the DB if I create the table and procedure by hand. I do use SqlServer like this `DBProvider = "sqlserver"` when creating the target.
Would you like my Target configuration code?
Thanks a lot

[2015-12-16 16:37] lalberto8085 commented on #1094
I don't know if as a package (*.nupkg) but I can use the `SqlConnection` and `SqlConnectionStringBuilder` after `using System.Data.SqlClient`. I can log everything on the DB if I create the table and procedure by hand. I do use SqlServer like this `DBProvider = "sqlserver"` when creating the target.
Would you like my Target configuration code?
Thanks a lot

[2015-12-16 16:37] lalberto8085 commented on #1094
I don't know if as a package (*.nupkg) but I can use the `SqlConnection` and `SqlConnectionStringBuilder` after `using System.Data.SqlClient`. I can log everything on the DB if I create the table and procedure by hand. I do use SqlServer like this `DBProvider = "sqlserver"` when creating the target.
Would you like my Target configuration code?
Thanks a lot

[2015-12-16 16:38] lalberto8085 commented on #1094
I don't know if as a package (*.nupkg) but I can use the `SqlConnection` and `SqlConnectionStringBuilder` after `using System.Data.SqlClient`. I can log everything on the DB if I create the table and procedure by hand. I do use SqlServer like this `DBProvider = "sqlserver"` when creating the target.
Would you like my Target configuration code?
Thanks a lot

[2015-12-16 16:38] lalberto8085 commented on #1094
I don't know if as a package (*.nupkg) but I can use the `SqlConnection` and `SqlConnectionStringBuilder` after `using System.Data.SqlClient`. I can log everything on the DB if I create the table and procedure by hand. I do use SqlServer like this `DBProvider = "sqlserver"` when creating the target.
Would you like my Target configuration code?
Thanks a lot

[2015-12-16 20:22] UgurAldanmaz commented on #1094
Hi @lalberto8085. It seems that null reference exception causes by `ConnectionType`.
Could you send the internal logs? I want to be sure that dbTarget initialized.
Also configuration and full code would be helpful.

[2015-12-16 20:36] 304NotModified commented on #1092
This could be a breaking change. We have to test if everything works after skipping initialize and added target programmatically.

[2015-12-16 20:52] lalberto8085 commented on #1094
This is the internal log:

    2015-12-16 15:48:10.1723 Debug ScanAssembly('NLog, Version=4.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c')
    2015-12-16 15:48:10.2125 Debug Start auto loading, location: C:\Users\lalbe\.dnx\packages\NLog\4.2.2\lib\net45
    2015-12-16 15:48:10.2125 Debug Auto loading done
    2015-12-16 15:48:10.2125 Debug ScanAssembly('NLog.Web, Version=4.0.0.0, Cultur

[2015-12-16 21:21] UgurAldanmaz commented on #1094
Initialization works [internally](https://github.com/NLog/NLog/blob/master/src/NLog/Targets/DatabaseTarget.cs#L356). I need to be sure what happens. But I am too tired to concentrate.

I will examine the problem (probably tomorrow).

Thanks!

[2015-12-17 15:48] varunkumarmnnit commented on #1071
Hello Julian
Apart from above config changes do I need to use your fixed files also

[2015-12-17 16:34] 304NotModified commented on #1071
I think you need `  LogManager.Flush();`

My testprogram: https://github.com/NLog/NLog/blob/1071-test-program-diag-tryouts/src/PerformanceTest/Program.cs

[2015-12-17 20:09] 304NotModified commented on #1002
@Steven-6tm is this issue still a problem?

[2015-12-17 20:13] 304NotModified commented on #948
I think 1, 4, 5, 7, 9 are nice.

We have a lot of this written, but link to it is nice idea :)

I like this one also :)

What do you guys think?

[2015-12-17 20:59] 304NotModified commented on #1071
It checked the content of the file, it is all present.

With the GDC item in the path:

![image](https://cloud.githubusercontent.com/assets/5808377/11881821/7f17e46c-a509-11e5-9691-5af5fe2f4372.png)

[2015-12-17 21:02] 304NotModified commented on #1087
Any luck @chrisrestall ?

[2015-12-17 21:03] 304NotModified commented on #1088
Is everything clear now @a14907 ?

[2015-12-17 21:04] 304NotModified commented on #1072
@GClaudio does it work?

[2015-12-17 21:14] lalberto8085 commented on #1094
I found a work around I downloaded the code for the `NLog 4.2.2` and reproduced my code on a Console application and ran into the same exception, from there I debugged your code and found it was what @UgurAldanmaz said, the `Target.Initialize()` method was not being called so called `config.Install()` in my code after I added the `DatabaseTarget` object and that did the trick.

Thanks a lot for yo

[2015-12-17 21:17] chrisrestall commented on #1087
Sorry, yes adjusting assembly binding worked great.  Thanks!

Sent from Outlook

On Thu, Dec 17, 2015 at 1:03 PM -0800, "Julian Verdurmen" <notifications@github.com> wrote:

Any luck @chrisrestall ?

---
Reply to this email directly or view it on GitHub:
https://github.com/NLog/NLog/issues/1087#issuecomment-165581404

[2015-12-17 21:19] UgurAldanmaz commented on #1094
Hi @lalberto8085.

I tested and found the problem. Yes, it causes by `ConnectionType`. `ConnectionType` is setting when configuration initialization.

A target installation should be managed by XmlLoggingConfiguration. I mean, you should call the `Install` method of the `XmlLoggingConfiguration`, not directly `DatabaseTarget`.

Take a look at [InstallNLogConfig console app](https://github.com/NLog

[2015-12-17 21:30] UgurAldanmaz commented on #1094
Oh @god. We was writing at the same time.

Ok. You are welcome.

BTW, really exist an account for @god. Fantastic! In future, I will mention this account in situations like this.

[2015-12-17 21:57] 304NotModified commented on #1070
hey!'

It took a bit more them, and I re-implemented the code. I got it fixed, but I'm not sure if it's fully backwards-compatible / 100% what is expected.

The algorithm is now:

1. Find LoggerType
2. Take next
3. Skip if in SkipAssembly

Before (the code wasn't really readable), it checked for "is loggertype or IsAssignableFrom loggertype". This is now removed, otherwise the submitted case won't

[2015-12-17 22:03] 304NotModified commented on #1087
OK glad to hear!

[2015-12-17 22:03] #1087 closed

[2015-12-17 22:06] 304NotModified commented on #1094
Nice that it got fixed, but it's strange that `Install` won't call `Initialize`. At least, it should not crash!

[2015-12-18 02:26] a14907 commented on #1088
Yes

[2015-12-18 02:27] a14907 commented on #1088
Yes.@304NotModified

[2015-12-18 07:56] GClaudio commented on #1072
Sorry, but I couldn't try it these days, next week I will be send you an answer

[2015-12-18 08:40] 304NotModified commented on #1088
OK, I will close this one then :)

[2015-12-18 08:40] #1088 closed

[2015-12-18 13:04] 304NotModified commented on #526
http://nlog-project.org/2010/09/25/deploying-nlog-configuration.html

[2015-12-18 22:25] ShaneCourtrille opened #1097 "System.TypeInitializationException from missing variable in configuration"
I have a Console application with the following target:

`		<target xsi:type="ColoredConsole"
						name="console"
						layout="${NormalLayout}"/>`

When I start my application I receive the following exception:

System.TypeInitializationException was unhandled
Message: An unhandled exception of type 'System.TypeInitializationException' occurred in mscorlib.dll
Additional information: The type in

[2015-12-18 23:34] 304NotModified commented on #1097
Hi,

I should be possible to check the inner exception in VS. You can also use the quickwatch. It's really important to check the inner exception, because that's the only good way to find the real problem.

There is a big change that the issue isn't in NLog. That the error is reported when NLog is enabled, is just a result of NLog being initialized really early. We also cannot catch that exception

[2015-12-18 23:38] 304NotModified opened #1098 "Improve Install of targets / crash Install on Databasetarget."
Calling `Install` on a databasetarget leads to a nullrefexception (https://github.com/NLog/NLog/issues/1094). The work around is to call `Initialize` on the `LoggingConfiguration`, as seen on  [InstallNLogConfig console application](https://github.com/NLog/NLog/blob/master/src/InstallNLogConfig/Program.cs)

A public method should never throw this kind of exception. We have to find out why `Install

[2015-12-18 23:39] 304NotModified commented on #1094
A new issue is more appropriate and better to handle. So will close this and a new issue has been created: https://github.com/NLog/NLog/issues/1098

[2015-12-18 23:39] #1094 closed

[2015-12-19 10:36] bhaeussermann commented on #1022
I'm looking into this. Some of the mentioned issues above are not yet resolved, so some tests are going to fail. I shall have these tests Skipped for now. Will that be in order?

[2015-12-19 10:56] 304NotModified commented on #1022
Great!

Those issues are indeed not (all) fixed.

I was thinking :

- make mockable, pr and merge
- for every issue, create unit test, fix if needed, and that in one PR. (TTD)

It's okay to add unit tests with ignore if you have them already.

[2015-12-19 19:45] 304NotModified opened #1101 "EventLogTarget OnOverflow=Split writes always to Info level"
Bug. Introduced in https://github.com/NLog/NLog/pull/1041. Needs also an unit test.

[2015-12-19 20:10] UgurAldanmaz commented on #1101
I want to fix it, if that's all right.

[2015-12-19 20:25] 304NotModified commented on #1101
yes please :)

[2015-12-19 20:27] UgurAldanmaz opened #1102 "Max message length option for Eventlog target"
Default value should be 16,384 for backwards-compatible. It can be changed in NLog v5. However, there are [various message length limit that depends on the OS.](https://support.microsoft.com/en-us/kb/957662 "Recommended settings for event log sizes in Windows") Therefore, should be careful for changing the default.

[2015-12-19 21:02] 304NotModified commented on #1102
I think configurable is the best solution, backwards compatible and easy to implement.

[2015-12-20 19:56] 304NotModified commented on #1070
This is fixed in 4.3. See #1095.

[2015-12-20 22:02] #1070 closed

[2015-12-20 22:28] 304NotModified commented on #1071
4.2.3 has been released.

[2015-12-20 22:28] #1071 closed

[2015-12-21 06:09] UgurAldanmaz commented on #934
Hi @Fresa.
I searched for a solution. It is a really difficult stuff. I need to more info about what we need to achive. Could you give a more info also an application/use case example?

[2015-12-21 07:46] andersjoh opened #1105 "Layout renderers are invoked too late / on wrong thread when using async / buffer"
In an async/buffered scenario, layout renderers should be invoked much earlier. As is, the calling thread could be long gone and ActivityId etc. is null.

[2015-12-21 12:01] paddyhamilton opened #1106 "Include File in Remote locations"
Guys,

I want to be able to control the NLog.config file from a central location, in this case an AWS s3 bucket.

Is it possible to configure include files to look in remote locations at all?

Thanks,

Paddy

[2015-12-21 12:11] 304NotModified commented on #1106
Can you give an example of a remote location? We do support network shares, but not sure if that's what you need.

[2015-12-21 12:44] stile17 commented on #950
I think the problem is related to:

When I was testing nlog.config my first approach was to omit the "log" attribute. Messages was sent to "Application" log. My next thing to test was my custom log "MyOwnLog" but i left the same source name, and messages was also sending to "Application" log. Bummer :(

When I changed the log name and source name at the same time everything worked correctly.

Look

[2015-12-21 12:51] paddyhamilton commented on #1106
An Amazon AWS bucket.  So the file location will be for example "https://s3storage-eu-west-1.amazonaws.com/NLog/NLog.config"

[2015-12-21 13:43] andersjoh commented on #1105
Maybe take a peek at SiriLog? I know they invoke the renderers on Log. As long as the renderer code is realatively lightweight (which they should!), this won't be a problem.

[2015-12-21 14:01] 304NotModified commented on #1105
Sure :) But it's not the problem how to do this, but when.
Rendering is never lightweight as those are string manipulations.

I think that would hurt performance too much. But that's never timed or something like that.

[2015-12-21 14:01] 304NotModified commented on #1106
And then we have to read it as an HTTP GET?

[2015-12-21 14:06] paddyhamilton commented on #1106
Yeah, thats what I thought.
Ill have a go at it and see what i can come up with.

Cheers for the help

[2015-12-21 14:06] #1106 closed

[2015-12-21 14:12] 304NotModified commented on #950
Thanks @stile17

I think your are right. But can you give an example in nlog.configs? That would help fully understanding it.

PS: your English is good to follow. :+1:

[2015-12-21 14:18] andersjoh commented on #1105
Right, sorry i'm not expressing myself clearly enough. I'm suggesting a renderer that extracts the data it needs and write's to an intermediary object that is then put into a buffer. When the buffer is flushed the object is translated into a string. Would that be possible? I haven't dived that deeply into the source code.

[2015-12-21 14:26] stile17 commented on #950
First attempt (messages are writing to Application log):
[code]
Improvement (message are still writing to Application log):

[code]
Solution (messages are writing to "NewNameEventLog" log):
[code]
Solution (alternate) using powershell and removing "MyNameEventLog", next restarting computer, than this nlog.config begin to write messages to "MyNameEventLog":
[code]

[2015-12-21 16:25] Quergo opened #1107 "CachedLayoutRenderWrapper missing AmbientProperty attribute"
Class CachedLayoutRendererWrapper has a missing AmbientProperty attribute for property 'ClearCache'. In consequence the value of parameter 'ClearCache' in a config file is never applied to this property because parameter is not parsed.

[2015-12-21 16:43] 304NotModified commented on #1107
Thanks for this report.

I'm not sure if `AmbientProperty` is needed there. AFAIK all public properties are parsed?  See https://github.com/NLog/NLog/blob/67ce7beb81ac439637fff64981e103a7a3ead33d/tests/NLog.UnitTests/LayoutRenderers/Wrappers/CachedTests.cs#L66

[2015-12-21 16:49] 304NotModified commented on #1105
Thanks for elaborating,

Good idea but I'm not sure if that will fit. If we have the layout `"${ActivityId} ${message}"`, then we store as intermediate (if ActivityId=123), `"123 ${message}"`? So a string. I don't think we can fit that in an object?

When converting to a string, I think it is then the same as the layout-renderer-wrapper `${force-render:${aspnet-sessionid}}` I proposed before.

[2015-12-21 18:00] Quergo commented on #1107
Config parameter is parsed but it seems that it is never assigned to the CachedLayoutRendererWrappers property.

My config entry for the file target:
[code]

In https://github.com/NLog/NLog/blob/67ce7beb81ac439637fff64981e103a7a3ead33d/src/NLog/Layouts/LayoutParser.cs#L335 there is a lookup to get the corresponding WrapperType for an AmbientProperty.

When AmbientProperty is missing the setter is

[2015-12-21 18:09] Quergo commented on #1107
Found my fault:

Changed

fileName="C:\somePath\{cached:${date}:cached=True:clearCache=None:format=yyyy-MM-dd_HH-mm-ss}_Log.txt"

to

fileName="C:\somePath\${cached:${date:format=yyyy-MM-dd_HH-mm-ss}:cached=True:clearCache=None}_Log.txt"

I think https://github.com/NLog/NLog/wiki/Cached-Layout-Renderer should mention this in some way.

[2015-12-21 19:38] 304NotModified commented on #1107
Thanks for the examples!

Which NLog version is this? Did you checked the internal log for the first case?

[2015-12-22 11:45] andersjoh commented on #1105
I'd have to spend som time with the code, but wouldn't this be possible:
We have a layout "${ac}tivityId} ${aspnet:sessionId} ${message}". This is loaded from config on runtime.
The renderers know if they access thread specific data. If a async / buffered wrapper is specified, the renderers evaluate at the LogEvent, emitting an object with data that is put into, if not the eval to a string at buff

[2015-12-22 11:45] bhaeussermann opened #1108 "FileTarget: Archiving without a pattern creates one archive, then discards all logs"
When one does not include a pattern in the `archiveFileName` property of a `FileTarget` and set `maxArchiveFiles` to a value larger than 1, the target will create one archive file when the log fills up. When the log fills up again afterwards, no archive file is created, and all future logs are discarded.

The code in `FileTarget` seems to handle this case by adding sequential numbers to the end of

[2015-12-22 16:23] Bidou44 commented on #1069
Not sure to understand want you need from me. The problem is fixed when setting a value different from 0. I think that one should not be able to set this value to 0 (exception?)... At least, I don't see any scenario where it would make sense...

[2015-12-22 17:18] 304NotModified commented on #1069
OK thanks for the info. It's  a bit strange,  because 0 should throw an exception : https://msdn.microsoft.com/en-us/library/system.timers.timer.interval(v=vs.90).aspx

[2015-12-22 17:20] 304NotModified commented on #1069
Todo:
- [ ] prevent / check 0 value

[2015-12-22 22:22] 304NotModified commented on #1108
Thanks (also for the PR of course!), I was thinking this issue was reported before - but I didn't found it yet

[2015-12-23 11:45] 304NotModified commented on #641
@phenixdotnet can we help one something?

[2015-12-23 13:01] phenixdotnet commented on #641
@304NotModified yes sure !
We can start working on "est the lib on all platform. The build procuce an assembly for each frameworks in this list: .NET 3.5.1, .NET 4.5.1, .NET Core 5, UAP 10, Silverlight 5."

It's **just** about creating sample project and use the lib produced by the coreCLR branch.

[2015-12-23 13:42] kt1996 commented on #1058
Hey,
     I am a new guy and am trying to contribute to open source development. I am familiar with threading, network programming but have built only standalone single project applications, so am having a little bit difficulty in getting this running.
For debugging I am unable to figure out where should I put the configuration as no exe file is generated in build folder, with which I could put th

[2015-12-23 22:25] 304NotModified commented on #1058
Hey!

Great that you like to help! This is a bit difficult one but if you know how to attach the debugger to a running process, it should be solvable.

I'm now on mobile but will give you tomorrow some more info!

[2015-12-23 22:27] 304NotModified commented on #39
@mikhail-barg can you help us in closing this one?

[2015-12-23 22:48] mikhail-barg commented on #39
I don't think I have any IPv6 setups within reach, but I'll check tomorrow.

Also I'm not sure what exact configuration is causing the problem. I'm not convenient with IPv6 addressing, but I assume `::1` is a localhost, so both sender and receiver should be on a same machine, or I'm missing something in the original post?

[2015-12-24 04:35] kt1996 commented on #1058
I am using the visual studio debugger only, and have created a console project in the solution (with it marked as the startup) and added Nlog.netfx45 project to its references. So I have debugging access to the NLog projects too. Just can't figure out where should I put config... :(

[2015-12-24 06:38] mikhail-barg commented on #1058
In general, you put `nlog.config` to your project root and in file properties you specify "copy always" or "copy if newer" for "Copy to Output Directory". You may check the TestApplication project of [NLog.Windows.Forms](https://github.com/NLog/NLog.Windows.Forms) for this.

[2015-12-24 22:17] 304NotModified commented on #1058
thanks @mikhail-barg!

@kt1996 if you need some starting with NLog, you can check https://github.com/nlog/nlog/wiki/Tutorial. If you need some help after reading it, just let us know. Thanks in advance for looking at this issue!

[2015-12-25 17:55] kt1996 commented on #1058
Hey, thanks a lot guys for the help. I am quite sure I have figured this bug and fixed it in my forked repository.

The issue was not with the switch as this was happening even when allowconnections was permitted but was in the scope of the lock around the actual send line 310.

Took some time understanding the code but now have sent the pull request....Thanks again...!!

[2015-12-25 18:09] kt1996 commented on #863
Hey, I am willing to try my best and sort out this one. Just I am running windows 7, and I have no clue how to emulate the midnight condition. Thanks a lot !!

[2015-12-25 19:19] bhaeussermann commented on #863
If you want to produce the problem in an application (VS solution), you could look into changing your system time during runtime (perhaps you could do this programmatically in your app).

As for producing the problem in a test (in `FileTargetTest.cs`), you can emulate date/time changes using `TimeSource` (there are other tests which use `TimeSource`).

[2015-12-25 19:56] 304NotModified commented on #1058
Hey! That would be great!

Do you know if the bug is also in `AsyncRequestQueue`?

[2015-12-25 21:45] 304NotModified commented on #1108
Fixed by #1109

[2015-12-25 21:45] #1108 closed

[2015-12-26 10:04] kt1996 commented on #1058
@304NotModified No idea, during debugging never came across it, so if there is a bug I don't think its related to this atleast,... Though I'll happily look into it if you can provide me the details :)

[2015-12-26 10:07] kt1996 commented on #863
Sorry for being so vague, I didn't mean that, what I meant to ask was that should I have a program logging through every 1/10th second and then passing the program through midnight time to emulate the situation. Thanks!!

[2015-12-26 11:01] bhaeussermann commented on #863
Well, yes. How about setting your system time to just before midnight before starting the logging?

[2015-12-26 11:16] kt1996 commented on #863
Yeah definitely, of course i'll be doing that. Thanks for confirming that I'll have to run logging 'through' the midnight time.. !!

[2015-12-26 13:17] 304NotModified commented on #1058
Well, the code in network target is based on the code of `AsyncRequestQueue` . So there's probably the same mistake there?

But I'm really curious why this change fixes the issue, because I can't see it why. So if you could elaborate on that, that would be great :)

[2015-12-26 13:57] #1058 closed

[2015-12-26 14:09] kt1996 commented on #1058
- Sorry but I am a newbie... What is PR ? :)
- I'd be happy to look into AsyncRequestQueue too if you could provide me a test code that calls it. Thanks!!

[2015-12-26 18:43] 304NotModified commented on #1058
PR= pull request (github)

There should be unit tests, but don't know which one.

[2015-12-26 22:15] #550 closed

[2015-12-26 22:15] #859 closed

[2015-12-26 22:15] #1022 closed

[2015-12-27 14:02] bhaeussermann commented on #298
@304NotModified I created a test application in an attempt produce the issue, and I can't find it either. The test application logs continuously. While it does so, I delete the config file and copy a different config file to the same file path. The application reloads the new config successfully.

However, when I first delete the config file before starting the application, there is no logging, wh